/*
   layout.cms.css
   site
   
   Created by andrew tennison on 2011-09-08.
   Copyright 2011 andrew tennison. All rights reserved.
*/


/* ==|== twitter bootstrap ====================================================== */
@import "/c/bootstrap.min.css";

/* ==|== sprites ====================================================== */
@import "/c/sprites.css";

body { padding-top: 60px; }

.container-fluid > .content { margin-left: 20px; }
.container-fluid > .sidebar { left: 20px; position: absolute; top: 0; width: 0px;}
#overlay .modal-body {overflow:auto; max-height:400px}
#overlay .modal-body form {margin:0}
table{border-bottom:2px solid #ddd}
table th {vertical-align:baseline}
table td span {position:relative; display:block; text-overflow: ellipsis; white-space:nowrap; max-width:200px; overflow:hidden}
.modal .alert-message .close {margin-top:1px}
.modal {max-height:2000px}
.page {display:none}
.page.active {display:block}

h1 button {float:right}

.navbar .pull-right {color:#fff; margin:10px 0;}

.key_geolat,
.key_geolng,
.key_language,
td[class*='key_map'],
th[class*='key_map'] {display:none}
th.key_map_type, td.key_map_type {display:table-cell}

span.expand,
td.edit span,
td.key_admin span,
td.key_enabled span,
td.key_google span,
td.key_facebook span,
td.key_password span,
td.key_twitter span {width:30px; height:30px; position:relative; display:block; text-indent:-999px; overflow:hidden;}


.key_password .hasValue,
.key_admin .hasValue,
.key_enabled .hasValue,
.key_google .hasValue,
.key_facebook .hasValue,
.key_twitter .hasValue {background:url(/i/cms/yes.png) center center no-repeat;}

.key_password .noValue,
.key_admin .noValue,
.key_enabled .noValue,
.key_google .noValue,
.key_facebook .noValue,
.key_twitter .noValue {background:url(/i/cms/no.png) center center no-repeat;}

span.expand {background:url(/i/cms/add.png) center center no-repeat; cursor: pointer}
td.edit span {background:url(/i/cms/edit.png) center center no-repeat; cursor: pointer}

.well {padding:0; position:relative}
.well header {padding:10px 20px; border-bottom:1px solid #ccc}
.well header .btn {position:absolute; top:10px; right:10px}
.well .row {padding:10px 20px}
.well form {margin:0; padding:0}
.well .foot {padding:20px 0 0 0}

.lookup {margin:0 0 0 10px; font-weight:bold}
.hiddenLookup {display:none; margin:10px 0 0 0; padding:0; background:#eee; width:270px; list-style:none; border:1px solid #ddd; border-radius:5px}
.hiddenLookup.show {display:block}
.hiddenLookup li {}
.hiddenLookup li a {padding:5px 10px; color:#000; display:block; border-bottom:1px solid #ddd}

#relate .span4 {padding:10px 0}

.blocks [class*="span"] {background:#eee; border-radius:5px; padding:10px; border:1px solid #ccc}
.blocks [class*="span"] h3 {border-bottom:1px solid #ccc; margin-bottom:10px; padding-bottom:5px}

#relate {margin:20px 0; border:1px solid #ccc; padding-top:20px}
#relate .form-actions {margin:0}

table .header span {position:relative; display:block; padding-right:15px}
table .header span:after {position:absolute; right:0; border-color: #000000 transparent; border-style: solid; border-width: 0 4px 4px; content: ""; float: right; margin-top: 7px; visibility: hidden; opacity: 0.6;}
table .headerSortDown span:after {border-width: 4px 4px 0 4px;}
table .headerSortUp span:after, table .headerSortDown span:after {visibility: visible;}

table .headerSortUp, table .headerSortDown { background-color: #ADE6FE; color:#049CDB}
table .header { cursor: pointer; }

table td.key_url span {max-width: 400px}

