/*
   layout.css
   site
   
   Created by andrew tennison on 2011-09-08.
   Copyright 2011 andrew tennison. All rights reserved.
*/


/* ==|== normalise ====================================================== */
@import "/c/style.css";

/* ==|== typography ====================================================== */
@import "/c/type.css";

/* ==|== templating overide ====================================================== */ 
.tmpl {display:none !important}

/* ==|== reused styles - move to own ====================================================== */
.auth .forUnAuth, 
.unAuth .forAuth {display:none}

.bb {box-shadow:0 -1px 0 0px #393B3D inset, 0px -2px 0px 0px #18191A inset; -webkit-box-shadow:0 -1px 0 0px #393B3D inset, 0px -2px 0px 0px #18191A inset; padding-bottom:2px}
header.bb {box-shadow:0 -1px 0 0px #393B3D inset, 0px -2px 0px 0px #18191A inset, 0 18px 15px -12px #282a2c; -webkit-box-shadow:0 -1px 0 0px #393B3D inset, 0px -2px 0px 0px #18191A inset, 0 18px 15px -12px #282a2c;}

.icon,
.toggleBlock:after 		{position:relative; display:inline-block; width:40px; height:40px; text-indent:-999px; overflow:hidden; background:url(/i/sprites/icons.png) 0 0 no-repeat;}

span.icon {vertical-align:middle;}

.onside		{background-position: 0px 0}
.facebook	{background-position:-40px 0}
.twitter	{background-position:-80px 0}
.google		{background-position:-120px 0}
.channels	{background-position:-160px 0}
.share		{background-position:-200px 0}
.save 		{background-position:-240px 0}
.search 	{background-position:-280px 0}
.refresh 	{background-position:-320px 0}
.comments	{background-position:-360px 0}
.comment	{background-position:-400px 0}
.settings	{background-position:-440px 0}
.events		{background-position:-480px 0}
.user		{background-position:-520px 0}
.login		{background-position:-560px 0}
.arrow-s	{background-position:-600px 0}
.arrow-n	{background-position:-640px 0}
.arrow-w	{background-position:-680px 0}
.arrow-s	{background-position:-720px 0}
.close		{background-position:-760px 0}
.play		{background-position:-800px 0}
.filter		{background-position:-840px 0}
.bookmark	{background-position:-880px 0}
.think		{background-position:-920px 0}

.onside.active, .onside:hover, a.active .onside, a:hover .onside			{background-position: 0px -40px}
.facebook.active, .facebook:hover, a.active .facebook, a:hover .facebook	{background-position:-40px -40px}
.twitter.active, .twitter:hover, a.active .twitter, a:hover .twitter		{background-position:-80px -40px}
.google.active, .google:hover, a.active .google, a:hover .google			{background-position:-120px -40px}
.channels.active, .channels:hover, a.active .channels, a:hover .channels	{background-position:-160px -40px}
.share.active, .share:hover, a.active .share, a:hover .share				{background-position:-200px -40px}
.save.active, .save:hover, a.active .save, a:hover .save 					{background-position:-240px -40px}
.search.active, .search:hover, a.active .search, a:hover .search			{background-position:-280px -40px}
.refresh.active, .refresh:hover, a.active .refresh, a:hover .refresh		{background-position:-320px -40px}
.comments.active, .comments:hover, a.active .comments, a:hover .comments	{background-position:-360px -40px}
.comment.active, .comment:hover, a.active .comment, a:hover .comment		{background-position:-400px -40px}
.settings.active, .settings:hover, a.active .settings, a:hover .settings	{background-position:-440px -40px}
.events.active, .events:hover, a.active .events, a:hover .events			{background-position:-480px -40px}
.user.active, .user:hover, a.active .user, a:hover .user					{background-position:-520px -40px}
.login.active, .login:hover, a.active .login, a:hover .login				{background-position:-560px -40px}
.arrow-s.active, .arrow-s:hover, a.active .arrow-s, a:hover .arrow-s		{background-position:-600px -40px}
.arrow-n.active, .arrow-n:hover, a.active .arrow-n, a:hover .arrow-n		{background-position:-640px -40px}
.arrow-w.active, .arrow-w:hover, a.active .arrow-w, a:hover .arrow-w		{background-position:-680px -40px}
.arrow-s.active, .arrow-s:hover, a.active .arrow-s, a:hover .arrow-s		{background-position:-720px -40px}
.close.active, .close:hover, a.active .close, a:hover .close				{background-position:-760px -40px}
.play.active, .play:hover, a.active .play, a:hover .play					{background-position:-800px -40px}
.filter.active, .filter:hover, a.active .filter, a:hover .filter			{background-position:-840px -40px}
.bookmark.active, .bookmark:hover, a.active .bookmark, a:hover .bookmark	{background-position:-880px -40px}

.toggleBlock:after {content:""; position:absolute; right:10px; background-position:-600px 0;}
.toggleBlock.active:after {background-position:-640px 0}

/**
 *
 * Vertical Scrollbar
 *
 */
.navScrollbarV,
.detailScrollbarV,
.commentScrollbarV {position:absolute;z-index:100;width:8px;bottom:7px;top:2px;right:2px}

.navScrollbarV > div,
.detailScrollbarV > div,
.commentScrollbarV > div {
	position:absolute;z-index:100;width:100%;

	/* The following is probably what you want to customize */
	background:-webkit-gradient(linear, 0 0, 100% 0, from(#666), to(#555));
	background-image:-moz-linear-gradient(top, #666, #555);
	background-image:-o-linear-gradient(top, #666, #555);

	border:0px solid #777;

	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;
	-o-background-clip:padding-box;
	background-clip:padding-box;
	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	/*
	-webkit-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.5);
	-moz-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.5);
	-o-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.5);
	box-shadow:inset 1px 1px 0 rgba(255,255,255,0.5);
	*/
}


.help {position:relative; border:4px solid #ceb823; background:#fff668; border-radius: 5px; margin:10px;}
.help h2 {padding:7px 10px 5px; border-bottom:1px solid #ceb823; font-size:1.2em}
.help p {padding:5px 10px; font-size:1.1em}
.help span.icon {position:absolute; right:-2px; top:0px;}
#listChat .help h2, #listChat .help p {padding-right:40px}

/* ==|== primary styles ===================================================== */
html {background:#282a2c}
body {}

/* pos absolute */
body,
#OnsideApp,
#listGroups,
#listChat,
#main,
#appNav,
#listDetail,
#listArticle
{z-index:1; position:absolute; display:block; top:0; left:0; right:0; bottom:0;}

/* main blocks */
#OnsideApp 		{overflow:hidden;}
#listGroups 	{right:auto; width:265px; z-index:2; background:#282a2c url(/i/sprites/noise2.png) 0 0 repeat;}
#listChat 		{left:auto; width:265px; background:#282a2c url(/i/sprites/noise2.png) 0 0 repeat;}

#main 			{right:0; width:auto; z-index:3;}
	#appNav 		{top:auto; z-index:3; left:5px; right:5px;}
	#listDetail 	{box-shadow:0 0 8px 0px #000; }
	#listArticle 	{z-index:2; display:none}
	
	#listDetail, #listArticle {background:#3e4144 url(/i/sprites/noise3.png) 0 0 repeat; top:5px; left:5px; right:5px; border-radius:6px 6px 0 0;}

/* inner elements used for scrolling */
#listGroups > header,
#listChat > header,
#listDetail .detailItem > header,
#listArticle > article > header {position:absolute; display:block; top:0; left:0; right:0; height:60px; z-index:1; border-bottom:0px none}

#listGroups .contentWrapper,
#listChat .contentWrapper,
#listDetail .detailItem .contentWrapper,
#listArticle > article .contentWrapper {position:absolute; display:block; top:60px; left:0; right:0; bottom:50px; overflow:auto}

#appNav,
#listGroups > footer,
#listChat > footer {height:50px; background:#222325; box-shadow:0 1px 0 0px #18191A inset, 0px 2px 0px 0px #393B3D inset; -webkit-box-shadow:0 1px 0 0px #18191A inset, 0px 2px 0px 0px #393B3D inset;}

#listGroups > footer,
#listChat > footer {position:absolute; display:block; bottom:0; left:0; right:0; text-align:center}

.iScrollEnabled #listDetail .scroller {padding-right:9px}
.iScrollEnabled .contentWrapper {overflow:hidden !important}

/* ==|== animation styles ===================================================== */
#listGroups, #listDetail, #listArticle, #main, #navSearch input, #listChat .content form input, #listChat .content form textarea
{-webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out;}


/* ==|== listGroups styles ===================================================== */
#listGroups  header h1 {position:relative; display:block; background:url(/i/sprites/d3_logo.png) 10px center no-repeat; width:200px; height:60px; text-indent:-999px; overflow:hidden }

#navSearch {position: relative; display: block; padding: 10px 20px 10px 10px; border-top:0px none}
#navSearch input {width:100%; display:inline}
#navUser {display:none; border:5px solid #111}

#listGroups h2 {
	font-weight:bold; color:#79838d; text-transform:uppercase; line-height:1em; padding:5px 8px; letter-spacing:0.05em; font-size:1.1em; border-bottom:1px solid #212324; text-align:right;
	background: #424549; /* Old browsers */background: -moz-linear-gradient(top,  #424549 0%, #333639 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424549), color-stop(100%,#333639)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top,  #424549 0%,#333639 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top,  #424549 0%,#333639 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top,  #424549 0%,#333639 100%); /* IE10+ */background: linear-gradient(top,  #424549 0%,#333639 100%); /* W3C */
}

#listGroups .help {padding:8px 8px 0 50px}
#listGroups .help p {padding-bottom:8px; font-size:1.2em; color:#aeb9c4}


#listGroups #navGlobal a,
#listGroups article h1 {position:relative; display:block; color:#aeb9c4; font-size:1.2em; font-weight:normal; line-height:1.4em; /*width:267px*/}

#listGroups #navGlobal a span {vertical-align:middle; margin:0 6px;}

#listGroups article {display:block;}
#listGroups article a {position:relative; display:table; padding:4px 2px 6px 4px}
	#listGroups article h1, #listGroups article img, #listGroups article span {display:table-cell; vertical-align: middle}
	#listGroups article h1 {width:267px}
	#listGroups article span {width:58px;}
	#listGroups article img {margin-right:10px; width:43px}

#listGroups #navGlobal a:hover,
#listGroups article a:hover {background:#18191a}

#listGroups #navGlobal a.active, #listGroups #navGlobal a.active:hover,
#listGroups article.active a, #listGroups article.active a:hover {background:#393b3d}


/*
#listGroups article {margin:0 0 0 3px; padding:4px 2px; border-radius:7px 0 0 7px}
#listGroups article a {display:block; height:42px;}
#listGroups article img {float:left; margin-right:10px}
#listGroups article h1 {color:#fff; font-size:1.2em; font-weight:normal; line-height:1.4em; padding:5px 15px 0 0}

#listGroups article a:hover {background:#222}
#listGroups article.active {background:#474747}
#listGroups article.active a:hover {background:#474747}
*/

/* ==|== appNav styles ===================================================== */
#appNav nav {}
#appNav nav a {border-radius:5px; margin:6px}
#appNav nav a:hover,
#appNav nav a.active {box-shadow:-1px -1px 0px 0px #444 inset, 1px 1px 0px #000 inset; -webkit-box-shadow:-1px -1px 0px 0px #444 inset, 1px 1px 0px #000 inset; background-color:#222;}
#appNav nav a.comments {float:right}


/* ==|== listDetail styles ===================================================== */
#listDetail .detailItem > header {border-radius:6px 6px 0 0 /*background:#065ea5; */}
#listDetail .detailItem > .contentWrapper {}


/* Header */
.detailHead {border-bottom:1px solid #2a2a2a}
.detailHead h1 {position:relative; display:block; margin:0 10px; /*height:60px;*/ font-size:1.6em; font-weight:normal; text-transform:capitalize; color:#fff}
.detailHead h1 img {margin:5px 10px}
.detailHead nav {position:absolute; right:3px; top:3px}
.detailHead nav a {position:relative; display:inline-block}
.detailHead .brandStripe {position:absolute; left:10px; right:10px; bottom:2px; height:5px; background:#ff0000; box-shadow:0 0 2px 0px #000000, inset 0 -2px 2px 0px rgba(0,0,0,0.6); -webkit-box-shadow:0 0 2px 0px #000000, inset 0 -2px 2px 0px rgba(0,0,0,0.6); border-radius:3px 3px 0 0}

#listDetail .detailItem article {position:relative; background:#fff; border-radius:2px;}

.detailItem .contentWrapper {}
.detailItem .content {}

.detailItem .content article {background:#fff; margin:3px; box-shadow:0 0 2px #000; -webkit-box-shadow:0 0 2px #000}

.detailItem .channelList {padding:10px 5px 10px 2px;}
.detailItem .channelList h2 {color: #DDDDDD; font-size: 1.2em; font-weight: normal; padding: 0 0 4px; text-transform: uppercase;}

	.detailItem .channelList .channelItem {margin:0 0 6px 0; border-bottom:5px solid #ff0000}
	.detailItem .channelList .channelItem:last-child {margin-bottom:0px}
	.detailItem .channelList .channelItem a {position:relative; display:block; padding:2px; }
	.detailItem .channelList .channelItem a:hover {background:#ccc}
	.detailItem .channelList .channelItem h1 {display:inline-block; padding: 0 0 0 10px; font-size:1.4em; color:#444}

	.detailItem .channelList .channelHomeItem {cursor:pointer}
	.channelHomeItem header {border-bottom:1px solid #222; padding:5px; background:#065ca1}
		.channelHomeItem .badge {width:30px}
		.detailItem .channelHomeItem h1 {display:inline-block; font-weight:normal; font-size:1.4em; color:#fff}
	
	.detailItem .channelHomeItem .wrapArticle {padding:8px 5px}
		.detailItem .channelHomeItem h2 {font-size:1.1em; color:#555}
		.detailItem .channelHomeItem h3 {font-size:1.4em; font-weight:normal; color:#333}
		.detailItem .channelHomeItem p {font-size:1.2em; color:#333}


.detailItem .eventList {}

.detailItem .articleList {}
	.detailItem article h1 {padding:15px 40px 5px 15px; font-size:1.4em; color:#333; font-weight:normal}
	.detailItem article .content {font-size:1.2em; padding:5px 40px 10px 15px; line-height: 1.5em}
	.detailItem article footer {height:20px; background:#eee; padding:0 15px; line-height:20px; box-shadow:0 1px 2px 0px #999 inset; -webkit-box-shadow:0 1px 2px 0px #999 inset}
	.detailItem article a.open {float:none; margin:0 0 10px 15px}

	.detailItem article nav {position:absolute; right:0; top:0; opacity:0; z-index:1}
	.detailItem article nav a.settings {}
	.detailItem article .filters {display:none; position:absolute; left:0; right:0; bottom:0; top:0; background:rgba(0,0,0,0.8); padding:20px;}
	.detailItem article.showFilter .filters {display:block;}
	
	.detailItem article .filters h2 {color:#fff}
	.detailItem article .filters a {display:block; font-size:1.2em; line-height: 1.4em}
	
	.detailItem article.rss {}
	
	.detailItem article.on nav {opacity:1;}  
	#listDetail .detailItem article.rss.on {background:#eee}


	.detailItem article.youtube {width:480px; height:360px}
	.detailItem article.youtube a {margin:0; padding:0;}
	.detailItem article.youtube a span {position:absolute; left:50%; top:50%; margin:-24px 0 0 -24px; z-index:2; border-radius:50%; background-color:rgba(0,0,0,0.8)}
	.detailItem article.youtube a img {position:relative; display:block}

/* ==|== listArticle styles ===================================================== */
#listArticle.on {display:block}

#listArticle .articleIframe .detailHead h1 {margin:20px 145px 0 20px}
#listArticle iframe {width:100%; height:99%; border:0px none}


/* ==|== listChat styles ===================================================== */
#listChat header h1 {display:block; color:#fff; font-size:1.4em; font-weight:normal; line-height: 40px; padding:15px 0 0 10px}
#listChat header nav {position:absolute; display:block; right:0; bottom:0; z-index:1; height:48px}

#listChat footer nav a {margin:1px 2px 0}
#listChat nav a.active {background-color:#393B3D; border-radius: 0 0 3px 3px}

#listChat .contentWrapper .content {display:none}
#listChat .contentWrapper .active {display:block}

#listChat .content form {padding:10px; border-bottom: 1px solid #18191A;}
#listChat .content .inner {border-top: 1px solid #393B3D;}
#listChat .content form input,
#listChat .content form textarea {width:230px; background:#fff url(/i/sprites/icon_comment.png) 5px 4px no-repeat; text-indent:30px}
#listChat .content form input {padding:7px 4px 5px}
#listChat .content form p {color:#aaa; font-size:1.2em}

/* comment-default */
#listChat .inner .comment {min-height:45px;}
	#listChat .comment img {position:absolute; right:0; margin:5px}
	#listChat .comment time, #listChat .comment cite {padding:5px 0 0 10px; font-size:1.2em; position:relative; display:inline-block; color:#999}
	#listChat .comment .wrapComment p {padding:5px 10px;  color:#fff} 

#listChat .comment p {font-size:1.2em; padding:5px 0}
#listChat .comment nav {}
#listChat .comment nav a {}

/* comment-tweet */
#listChat .tweet {position:relative; margin:10px 10px 10px 65px; background:#fff}
#listChat .tweet .user {padding:6px 10px; border-bottom:1px solid#333}
	#listChat .tweet img {position:absolute; left:-55px; margin:0 10px 0  0}
	#listChat .tweet a {color:#000}
	#listChat .tweet .user cite, 
	#listChat .tweet .user time {font-size:1.3em; color:#666;}
	#listChat .tweet .wrapComment {padding:10px;}
	#listChat .tweet .wrapComment p {font-size:1.3em; color:#333}


/* toggle help content */
#listChat .help {display:none}
#listChat.showHelp .help {display:block}
#listChat.showHelp .scroller {display:none}

/* ==|== reused styles ===================================================== */

/* ==|== media querys ===================================================== */

.no-csstransforms .showchannels #main {left:260px; right:-260px}
.no-csstransforms .showcomments #main {left:-260px; right: 260px}
.showcomments #listChat {z-index:2}

.csstransforms .showchannels #main {-moz-transform: translate(260px, 0px); -webkit-transform: translate(260px, 0px); -o-transform: translate(260px, 0px); -ms-transform: translate(260px, 0px); transform: translate(260px, 0px);}
.csstransforms .showcomments #main {-moz-transform: translate(-260px, 0px); -webkit-transform: translate(-260px, 0px); -o-transform: translate(-260px, 0px); -ms-transform: translate(-260px, 0px); transform: translate(-260px, 0px);}
.csstransforms .showchannels #main {-moz-transform: translate(260px, 0px); -webkit-transform: translate(260px, 0px); -o-transform: translate(260px, 0px); -ms-transform: translate(260px, 0px); transform: translate(260px, 0px);}
.csstransforms .showcomments #main {-moz-transform: translate(-260px, 0px); -webkit-transform: translate(-260px, 0px); -o-transform: translate(-260px, 0px); -ms-transform: translate(-260px, 0px); transform: translate(-260px, 0px);}

.showchannels .show.channels,
.showcomments .show.comments {background-color:#444; box-shadow:-1px -1px 0px 0px #666 inset, 1px 1px 0px #000 inset; -webkit-box-shadow:-1px -1px 0px 0px #666 inset, 1px 1px 0px #000 inset;}
.showchannels .show.channels {background-position:-160px -40px;}
.showcomments .show.comments {background-position:-360px -40px;}


@media only screen and (max-width: 480px) {
.showchannels #listChat {}
.showcomments #listGroups {left:-260px}
}
@media only screen and (min-width: 480px) {
	#main {left:45px}
	.no-csstransforms .showcomments #main {left:-215px;}
	.csstransforms .showchannels #main {-moz-transform: translate(215px, 0px); -webkit-transform: translate(215px, 0px); -o-transform: translate(215px, 0px); -ms-transform: translate(215px, 0px); transform: translate(215px, 0px);}
	.csstransforms .showcomments #main {-moz-transform: translate(-260px, 0px); -webkit-transform: translate(-260px, 0px); -o-transform: translate(-260px, 0px); -ms-transform: translate(-260px, 0px); transform: translate(-260px, 0px);}

	#navSearch input {width: 22px;}
	.showchannels #navSearch input {width: 100%;}
}
@media only screen and (min-width: 620px) {
	#main {right:45px}
	.no-csstransforms .showchannels #main {left:260px; right:-215px}
	.no-csstransforms .showcomments #main {left:-215px; right: 260px}

	.csstransforms .showcomments #main {-moz-transform: translate(-215px, 0px); -webkit-transform: translate(-215px, 0px); -o-transform: translate(-215px, 0px); -ms-transform: translate(-215px, 0px); transform: translate(-215px, 0px);}

	#listChat .content form input, #listChat .content form textarea {width:22px; left:215px}
	.showcomments #listChat .content form input, .showcomments #listChat .content form textarea {width:230px; left:0}
}

@media only screen and (min-width: 1000px) {
	#main {left:260px;}
	.no-csstransforms .showchannels #main {left:260px; right:45px}
	.no-csstransforms .showcomments #main {left:45px; right: 260px}

	.csstransforms .showchannels #main {-moz-transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); -o-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); transform: translate(0px, 0px);}

	#listGroups {width:265px}
	#navSearch input {width:100%;}
	.show.channels {display:none}
}
@media only screen and (min-width: 1200px) {
	#main {right:260px}
	.no-csstransforms .showchannels #main {left:260px; right:260px}
	.no-csstransforms .showcomments #main {left:260px; right: 260px}
	.csstransforms .showcomments #main {-moz-transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); -o-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); transform: translate(0px, 0px);}

	#listChat {width:265px}
	#listChat .content form input, #listChat .content form textarea {width:230px; left:0}
	.show.comments {display:none}
}
