/*
   layout.css
   site
   
   Created by andrew tennison on 2011-09-08.
   Copyright 2011 andrew tennison. All rights reserved.
*/


/* ==|== normalise ====================================================== */
@import "/c/style.css";

/* ==|== typography ====================================================== */
@import "/c/type.css";

/* ==|== sprites ====================================================== */
@import "/c/sprites.css";

/* ==|== templating overide ====================================================== */ 
.tmpl {display:none !important}

a.filter {display:none !important}


/* ==|== reused styles - move to own ====================================================== */
.auth .forUnAuth, 
.unAuth .forAuth {display:none}

.bb {box-shadow:0 -1px 0 0px #393B3D inset, 0px -2px 0px 0px #18191A inset; -webkit-box-shadow:0 -1px 0 0px #393B3D inset, 0px -2px 0px 0px #18191A inset; padding-bottom:2px}
header.bb {box-shadow:0 -1px 0 0px #393B3D inset, 0px -2px 0px 0px #18191A inset, 0 18px 15px -12px #282a2c; -webkit-box-shadow:0 -1px 0 0px #393B3D inset, 0px -2px 0px 0px #18191A inset, 0 18px 15px -12px #282a2c;}
#listDetail .bb,
.inlineForm .bb {box-shadow: 0 -1px 0 0 #555555 inset, 0 -2px 0 0 #222222 inset}

.shadows {position:relative}
	.shadows:before, .shadows:after {content:''; position:absolute; z-index:1; top:0; height:100%}
	.shadows:before {left:0; width:137px; background:url(/i/sprites/mask_headLeft.png) 0 0px no-repeat;}
	.shadows:after {right:0; width:533px; background:url(/i/sprites/mask_headRight.png) 0 0px no-repeat;}

.quotes {position:relative; margin:28px 0}
	.quotes:before, .quotes:after {content:''; position:absolute; display:block; width:28px; height:22px; clear:both; background:url(/i/sprites/quotes.png) 0 0 no-repeat}
	.quotes:before {top:-25px; left:0}
	.quotes:after {background-position:-28px 0; right:0; bottom:-28px}


/**
 *
 * Vertical Scrollbar
 *
 */
.navScrollbarV,
.detailScrollbarV,
.commentScrollbarV {position:absolute;z-index:100;width:8px;bottom:2px;top:2px;right:2px; background:rgba(0,0,0,0.2); border-radius:4px}

.navScrollbarV > div,
.detailScrollbarV > div,
.commentScrollbarV > div {
	position:absolute;z-index:100;width:100%;

	/* The following is probably what you want to customize */
	background:-webkit-gradient(linear, 0 0, 100% 0, from(#666), to(#555));
	background-image:-moz-linear-gradient(top, #666, #555);
	background-image:-o-linear-gradient(top, #666, #555);

	border:0px solid #777;

	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;
	-o-background-clip:padding-box;
	background-clip:padding-box;
	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	/*
	-webkit-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.5);
	-moz-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.5);
	-o-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.5);
	box-shadow:inset 1px 1px 0 rgba(255,255,255,0.5);
	*/
}

#pullUp, #pullDown { color: #ccc; font-size: 14px; font-weight: bold; height: 40px; line-height: 40px; padding: 5px 10px; background:rgba(0,0,0,0.1)}
#pullUp .icon, #pullDown .icon {opacity:0.4}

.loadingMask:after,
.loading:after {content:'loading'; background:url(/i/sprites/loader.gif) no-repeat center center; width:100px; height:100px; margin:-50px 0 0 -50px; left:50%; top:40%; position:absolute; font-size:1.2em; color:#fff; text-align: center}
.loadingMask:after {background-color:rgba(0,0,0,0.5); width:100%; height:100%; line-height:500%; top:0; left:0; margin:0}

a.loading, button.loading {position:relative; background:#999}
a.loading:after, button.loading:after {content:''; background-size:25%; width:100%; height:100%; margin:0; background-position:center; top:0; left:0;}

.onComplete {background: rgba(0,0,0,0.85); color: #FFF; height: 100%; width: 100%; padding: 50px 10px; position: absolute; z-index:1; display:none; top:0}
	.onComplete h1 {font-size:1.6em; color:#ddd; padding-bottom:10px; text-align: center}
	.onComplete p {font-size:1.4em; text-align: center}
.complete .onComplete {display:block}


.flash {background-color:#FFFF00 !important}

.avatar {margin: 4px 6px 4px 8px; width: 34px;}

.help {position:relative; border:4px solid #ceb823; background:#fff668; border-radius: 5px; margin:10px;}
.help h2 {padding:10px 30px 10px 10px; border-bottom:1px solid #ceb823; font-size:1.2em}
.help p {padding:5px 10px; font-size:1.2em; line-height:1.3em}
.help a {background:#666; border-radius: 3px; padding: 1px 4px;}
.help span.icon {position:absolute; right:-2px; top:0px;}
.help .button {margin:0 2px 10px 10px}
.help .hide {display:none}
#listChat .help h2, #listChat .help p {padding-right:40px}

/* ==|== animation styles ===================================================== */
#listGroups, #listDetail, #listArticle, #main, #navSearch input, #listChat .content form input, #listChat .content form textarea,
.block form
{-webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out;}



/* ==|== primary styles ===================================================== */
html,
body {background:#282a2c}

/* pos absolute */
body,
#OnsideApp,
#listGroups,
#listChat,
#main,
#appNav,
#listDetail,
#listArticle
{z-index:1; position:absolute; display:block; top:0; left:0; right:0; bottom:0;}

/*body {top:60px; bottom:-60px;}*/

/* main blocks */
#OnsideApp 		{overflow:hidden;}
#listGroups 	{right:auto; width:265px; z-index:2; background:#282a2c url(/i/sprites/noise2.png) 0 0 repeat;}
#listChat 		{left:auto; width:265px; background:#282a2c url(/i/sprites/noise2.png) 0 0 repeat;}

#main 			{right:0; width:auto; z-index:3;}
	#appNav 		{top:auto; z-index:3; left:5px; right:5px;}
	#listDetail 	{box-shadow:0 0 4px 0px #000; left:5px; right:5px; }
	#listArticle 	{z-index:3; display:none; left:0px; right:0px; background:rgba(0,0,0,0.75)}
	#listArticle > article {position:absolute; top:0px; left:50px; right:50px; bottom:0px; border-top:5px solid #000}
	
	#listDetail, #listArticle > article .detailHead	{background:#3e4144 url(/i/sprites/noise3.png) 0 0 repeat; }

/* inner elements used for scrolling */
#listGroups > header,
#listChat > header,
#listDetail .detailItem > header,
#listArticle > article > header {position:absolute; display:block; top:0; left:0; right:0; height:60px; z-index:1; border-bottom:0px none}

#listGroups .contentWrapper,
#listChat .contentWrapper,
#listDetail .detailItem .contentWrapper,
#listArticle > article .contentWrapper {position:absolute; display:block; top:60px; left:0; right:0; bottom:50px; overflow:auto}

#listArticle > article .contentWrapper {bottom:5px; background:rgba(0,0,0,0.5); margin:0}

#appNav,
#listGroups > footer,
#listChat > footer {height:50px; background:#222325; box-shadow:0 1px 0 0px #18191A inset, 0px 2px 0px 0px #393B3D inset; -webkit-box-shadow:0 1px 0 0px #18191A inset, 0px 2px 0px 0px #393B3D inset;}

#listGroups > footer,
#listChat > footer {position:absolute; display:block; bottom:0; left:0; right:0; text-align:center}

.iScrollEnabled #listDetail .scroller {padding-right:0px}
.iScrollEnabled .contentWrapper {overflow:hidden !important}


/* ==|== listGroups styles ===================================================== */
#listGroups  header h1 {position:relative; display:block; background:url(/i/sprites/d3_logo.png) 10px center no-repeat; width:200px; height:60px; text-indent:-999px; overflow:hidden }

#navSearch {position: relative; display: block; padding: 10px 40px 10px 10px; border-top:0px none}
#navSearch input {width:100%; display:inline}
#navUser {display:none; border:5px solid #111}

#listGroups h2.groupTitle {
	font-weight:bold; color:#79838d; text-transform:uppercase; line-height:1em; padding:5px 16px; letter-spacing:0.05em; font-size:1.1em; border-bottom:1px solid #212324; text-align:right;
	background: #424549; /* Old browsers */background: -moz-linear-gradient(top,  #424549 0%, #333639 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424549), color-stop(100%,#333639)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top,  #424549 0%,#333639 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top,  #424549 0%,#333639 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top,  #424549 0%,#333639 100%); /* IE10+ */background: linear-gradient(top,  #424549 0%,#333639 100%); /* W3C */
}


#listGroups #navGlobal a,
#listGroups .navListItem h1 {position:relative; display:block; color:#aeb9c4; font-size:1.2em; font-weight:normal; line-height:1.4em; /*width:267px*/}

#listGroups #navGlobal a span {vertical-align:middle; margin:0 6px;}

#listGroups .navListItem {display:block;}
#listGroups .navListItem a {position:relative; display:table; padding:4px 2px 4px 4px}
	#listGroups .navListItem h1, #listGroups article img,  
	#listGroups .navListItem span {display:table-cell; vertical-align: middle}
		#listGroups .navListItem h1 {width:267px; line-height: 1.2em; padding:5px 0}
		#listGroups .navListItem span {width:58px;}
		#listGroups .navListItem img {margin-right:10px; width:43px; opacity:0.5}
		#listGroups .navListItem.active img {opacity:1}

#listGroups #navGlobal a:hover,
#listGroups .navListItem a:hover {background:#18191a}

#listGroups #navGlobal a.active, #listGroups #navGlobal a.active:hover,
#listGroups .navListItem.active a, #listGroups .navListItem.active a:hover {background:#393b3d}

#listGroups .eventList .navListItem h1 {padding-left:0px}
#listGroups .eventList .navListItem span {width:auto; display:inline}
#listGroups .eventList .navListItem time {float: left; margin-right: 20px; text-align: right; width: 40px;}


/* ==|== appNav styles ===================================================== */
#appNav nav {text-align:center}
#appNav nav a {border-radius:5px; margin:6px; vertical-align: middle}
#appNav nav a:hover,
#appNav nav a.active {box-shadow:-1px -1px 0px 0px #444 inset, 1px 1px 0px #000 inset; -webkit-box-shadow:-1px -1px 0px 0px #444 inset, 1px 1px 0px #000 inset; background-color:#222;}
#appNav nav a.channels {float:left}
#appNav nav a.comments {float:right}

#appNav nav a.btn {
	display:inline-block; background:#CCC; border-radius:12px; color:#000; font-size: 1.4em; line-height: 1em; padding: 6px 12px 4px;
    box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px 0 #000000 inset, 0 -13px 5px -5px rgba(0, 0, 0, 0.3) inset;
}

/* ==|== listDetail styles ===================================================== */

/* Header */
.detailHead {border-bottom:1px solid #2a2a2a}
.detailHead h1 {position:relative; display:block; margin:0 90px 0 10px; color:#fff; line-height:60px; z-index:2; text-transform: uppercase; font-size:2em; font-weight:600; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); height:60px; overflow:hidden}
.detailHead h1 img {margin:-4px 10px 0 0;}
.detailHead nav {position:absolute; right:10px; top:8px; z-index:3}
.detailHead nav a {position:relative; display:inline-block}

.detailHead:before, .detailHead:after {content:''; position:absolute; z-index:1; top:0; height:60px}
	.detailHead:before {left:0; width:137px; background:url(/i/sprites/mask_headLeft.png) 0 0px no-repeat;}
	.detailHead:after {right:0; width:533px; background:url(/i/sprites/mask_headRight.png) 0 0px no-repeat;}
	
.detailItem h2.groupTitle {padding:10px; color:#fff; font-size:1.4em; font-weight:400}

.type-list .detailHead nav {display:none}

/* sections */
.detailItem .banner {margin-right:-0px} 
.detailItem .channelList {position:relative; display:block; clear:both}
.detailItem .channelList {}
.detailItem .eventList {position:relative; display:block; padding:10px 5px 0 0}
.detailItem .articleList {padding:2px 5px 0 0px}

/* Ads */
.detailItem .banner {background-position:0 0; background-repeat: repeat-x}
.detailItem .banner img {width:100%; max-width:500px; position:relative; display:block; margin:0px auto}

.articleItem.advert {}
.articleItem.advert img {max-width:300px; width:100%; display:block; margin:0px auto}


/* Static Item */
.staticItem {}
.staticItem .contentWrapper {}
.staticItem .contentWrapper .scroller {}
.staticItem .contentWrapper h2 {padding:20px 0 10px 20px; font-size:2em; color:#ddd; text-shadow: 1px 1px 1px #222222; font-weight:400}
.staticItem .contentWrapper h3 {padding:20px 20px 10px 20px; font-size:1.6em; color:#fff}
.staticItem .contentWrapper p {padding:0 20px 20px 20px; font-size:1.4em; color:#ccc}
.staticItem .contentWrapper p a {text-decoration: underline}

#userInterests .formActions {text-align:right}

/* Channel Lists */
.channelListItem {position:relative; padding:0 0 2px 0; margin:4px 2px; background:#ccc}
.channelListItem header {position:relative; display:block; padding:0 10px 0 50px; min-height: 48px}
	.channelListItem header img {position:absolute; top:3px; left:3px; z-index:2}
	.channelListItem header h1 {position:relative; z-index:2; display:table-cell; vertical-align:middle; height:30px; font-size:1.6em; color:#333; line-height: 1.3em; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);}
	.channelListItem header .stats {display:none}

.channelListItem .inner {background:rgba(255,255,255,0.9); margin:2px 4px; border-radius:2px; padding:10px}
.channelListItem h2 {font-size:1.6em; color:#444; padding-bottom:10px; font-weight:400; padding:0}
.channelListItem .detail {font-size:1.2em; height:16px; color:#888}
.channelListItem .content {font-size:1.2em}


/* Channels */
.channelItem {position:relative; display:block; margin:0 0.2% 0.4%; width:32.8%; float:left}
.channelItem a {position:relative; display:block; padding:0 10px 0 50px; background:#777; border-radius:5px;}
.channelItem a:hover {background-color:#999;}
.channelItem a img {position:absolute; top:3px; left:3px;}
.channelItem a h1 {display:table-cell; vertical-align:middle; height:48px; font-size:1.4em; color:#eee; line-height: 1.3em;}

/* Events */
.eventItem {position:relative; margin:0 15px; padding-left:5px;}
.eventItem header {border-bottom:1px dotted #737373; padding:10px 0 5px}
	.eventItem h1 {text-transform:uppercase; display:inline; font-size:1.1em; color:#fff}
	.eventItem header time {color:#b3b3b3; font-size:1.1em; float:right}
.eventItem section {padding:8px 0}
	.eventItem section h1 {color:#b3b3b3; text-transform:capitalize; padding-bottom:2px; display:block}
	.eventItem section p {font-size:1.4em; color:#fff}
	.eventItem section p a {text-transform:capitalize }
	.eventItem section p.location {font-size:1.2em}
	.eventItem section p .score {font-size:1.2em}
	.eventItem .location {color:#B3B3B3}
	
	
/* Articles */
.articleItem {position:relative; display:inline-block; background:#fff; margin:1px; width:100%}
.articleItem .inner {display:block}
.articleItem .filters {display:none}
.articleItem nav a {color:#fff; background: #555; border-radius: 2px; font-family: 'Open Sans',serif; padding: 2px 6px; text-transform: uppercase;}
.articleItem nav a:hover {color:#333; background:#ddd}

.articleItem.rss:hover {cursor:pointer}
.articleItem.rss h1 {color:#333; font-size:1.6em; line-height:1.3em }
.articleItem.rss .inner {padding:20px;}
.articleItem.rss img {float:left; margin:10px 10px 10px 0}
.articleItem.rss .content {color:#333; font-size:1.2em; margin:10px 0; line-height: 1.4em; height:4.2em; overflow: hidden; }
	.articleItem.rss .content h2, p {}
	.articleItem.rss .content a {color:#000; text-decoration:underline}

.articleItem.rss footer {font-size:1.2em; color:#666;}
	.articleItem.rss footer cite {font-style:normal}
	.articleItem.rss footer time {}
	.articleItem.rss nav {display:inline-block; float:right;}
		.articleItem.rss nav a {background:#999}
		.articleItem.rss nav a:hover {background:#ddd}

.articleItem.twitter {background:#000}
	.articleItem.twitter .inner {padding:40px;}
	.articleItem.twitter p {position:relative; color:#fff; font-size:1.6em; }
	.articleItem.twitter cite {color:#ddd; font-size:1.2em; display:block}
	.articleItem.twitter nav {}
	.articleItem.twitter nav a {}

.articleItem.youtube {}
.articleItem.youtube .inner {position:absolute; top:0; left:0; right:0; background:rgba(0,0,0,0.5); color:#fff; padding:10px 20px;}
.articleItem.youtube .inner p {font-size: 1.2em; line-height: 20px; padding-bottom: 15px;}
.articleItem.youtube .inner p time {float:right}
.articleItem.youtube .inner h2 {}
.articleItem.youtube a.open span {position:absolute; top:50%; left:50%; margin:-20px 0 0 -20px}


/* ==|== listArticle styles ===================================================== */
#listArticle.on {display:block}
#listArticle .detailHead nav .save {display:none}

#listArticle > article.articleIframe {background:url(/i/sprites/loader.gif) center center no-repeat}
#listArticle .articleIframe iframe {width:100%; height:99%; border:0px none;}

.articleTwitter {}
.articleTwitter .contentWrapper {margin:20px;}
.articleTwitter .original{background:#000; color:#fff; padding:10px}
	.articleTwitter .original img {position:absolute; left:10px; top:10px;}
	.articleTwitter .original p {font-size:1.6em; margin-left:70px; margin-right:20px}
	.articleTwitter .original cite {}
.articleTwitter .older {}



/* ==|== listChat styles ===================================================== */
#listChat header h1 {display:block; color:#fff; font-size:1.4em; font-weight:normal; line-height: 40px; padding:15px 6px 0 10px; text-align:right}
#listChat header nav {position:absolute; display:block; right:0; bottom:0; z-index:1; height:48px}

#listChat footer nav a {margin:1px 2px 0}
#listChat nav a.active {background-color:#393B3D; border-radius: 0 0 3px 3px}

#listChat .contentWrapper .content {display:none}
#listChat .contentWrapper .active {display:block}

#listChat .content form {padding:10px; border-bottom: 1px solid #18191A;}
#listChat .content .inner {border-top: 1px solid #393B3D;}
#listChat .content form input,
#listChat .content form textarea {width:230px; background:#fff url(/i/sprites/icon_comment.png) 5px 4px no-repeat; text-indent:30px}
#listChat .content form textarea#tweetAdd {background:url("/i/sprites/twitter.png") no-repeat scroll -20px -18px #FFFFFF}
#listChat .content form input {padding:2px 4px 4px}
#listChat .content form p {color:#aaa; font-size:1.2em}

/* comment-default */
#listChat .inner .comment {min-height:45px;}
	#listChat .inner .comment .user {padding-right:50px}
	#listChat .comment img {position:absolute; right:0; margin:5px}
	#listChat .comment time, #listChat .comment cite {padding:5px 0 0 10px; font-size:1.2em; position:relative; display:inline-block; color:#999}
	#listChat .comment .wrapComment p {padding:5px 10px;  color:#fff} 

#listChat .comment p {font-size:1.2em; padding:5px 0}
#listChat .comment nav {}
#listChat .comment nav a {}

/* comment-tweet */
#listChat .tweet {position:relative; margin:10px 10px 10px 65px; background:#fff}
#listChat .tweet .user {padding:6px 10px; border-bottom:1px solid#333}
	#listChat .tweet img {position:absolute; left:-55px; margin:0 10px 0  0}
	#listChat .tweet a {color:#000}
	#listChat .tweet .user cite, 
	#listChat .tweet .user time {font-size:1.3em; color:#666;}
	#listChat .tweet .wrapComment {padding:10px;}
	#listChat .tweet .wrapComment p {font-size:1.3em; color:#333}

#twitterComments button {font-size:1.4em; padding:5px 10px; margin-top:10px; border:0px none}
#twitterComments button span {position:relative; display:inline-block; width:20px; height:20px; background:url(/i/sprites/twitter.png) 0 0 no-repeat; }

/* ==|== reused styles ===================================================== */

form.inlineForm {position:relative}
.inlineForm div {position:relative; display:block; padding:10px 20px}
.inlineForm label,
.inlineForm .formEl {position:relative; display:inline-block; vertical-align: middle;}

.inlineForm label {width:26%; margin-right:3%; color:#ddd; font-size:1.4em; line-height:1em; text-align:right}
.inlineForm .formEl {max-width:70%; min-width:30%}
.inlineForm span.formEl {color:#fff; font-size:1.4em}

.inlineForm input {}
.inlineForm select {font-size:1.4em;}
.inlineForm textarea.formEl {min-width:65%; line-height:1.2em; height:4.9em}

.inlineForm .formActions {background:rgba(0,0,0,0.2); padding:20px;}
.inlineForm .formActions button:first-child {margin-left:30%}
.inlineForm .formActions span {color:#fff; font-size:1.4em; padding:8px 24px; display:inline-block;}

form.complete fieldset,
form.complete .formActions {position:relative; display:block; overflow:hidden; height:0; padding-top:0; padding-bottom:0 }

.btn {display:inline-block; vertical-align:top;  background:#006DCC; border:0px; border-radius: 4px; color: #FFF; font-size: 1.2em; padding: 8px 14px; text-transform: uppercase; box-shadow: 0 -16px 15px -4px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0 rgba(255, 255, 255, 0.3) inset, 0 -1px 0 0 #000000 inset; margin-right:10px}
.cancel {background:#333; color:#ddd}
.next {float:right; background:#999}
.finish {background:#999}

button.btn:hover {box-shadow: 0 16px 15px -4px rgba(0, 0, 0, 0.4) inset, 0px 0px 0px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0px 0 #000000 inset; padding:9px 14px 7px}
button.btn:focus {box-shadow: 0 -16px 4px -2px rgba(0, 0, 0, 0.4) inset, 0 -2px 1px 0 rgba(255, 255, 255, 0.5) inset, 0 2px 1px 0 #000000 inset;}

#listDetail form.inlineForm {margin-right:-9px}
#listArticle form.inlineForm {background:url("/i/sprites/noise3.png") repeat scroll 0 0 #3E4144}

.tagList {list-style: none;}
.tagList:after {content:""; display:block; clear:both; height:10px}
.tagList li {display:inline-block; margin:0 2px 5px; vertical-align: top}
.tagList a {position:relative; display:block; background:#ccc; color:#222; padding:4px 8px; border-radius:4px; font-size:1.4em; box-shadow: 1px 1px 2px rgba(0,0,0,0.6), 0 -25px 25px -20px rgba(0,0,0,0.6) inset; }
.tagList a:hover {background:#fff;}
.tagList a.on {background:#FFF668; box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.5) inset, 1px 1px 1px rgba(0, 0, 0, 0.9) inset; padding:5px 7px 3px 9px}

.block form {display:block; height:0px; overflow:hidden}
.block.on form {height:auto}
.block.on {background:rgba(255,255,255,0.1)}
.block.on .formActions {background:rgba(0,0,0,0.1);}

/* ==|== media querys ===================================================== */

.csstransforms #listArticle	{display:block; opacity:0.5; -moz-transform: translate(0, -100%); -webkit-transform: translate(0, -100%); -o-transform: translate(0, -100%); -ms-transform: translate(0, -100%); transform: translate(0, -100%);}
.csstransforms #listArticle.on {opacity:1;  -moz-transform: translate(0,0); -webkit-transform: translate(0,0); -o-transform: translate(0,0); -ms-transform: translate(0,0); transform: translate(0,0);}

.no-csstransforms .showchannels #main {left:260px; right:-260px}
.no-csstransforms .showcomments #main {left:-260px; right: 260px}
.showcomments #listChat {z-index:2}

.csstransforms .showchannels #main {-moz-transform: translate(260px, 0px); -webkit-transform: translate(260px, 0px); -o-transform: translate(260px, 0px); -ms-transform: translate(260px, 0px); transform: translate(260px, 0px);}
.csstransforms .showcomments #main {-moz-transform: translate(-260px, 0px); -webkit-transform: translate(-260px, 0px); -o-transform: translate(-260px, 0px); -ms-transform: translate(-260px, 0px); transform: translate(-260px, 0px);}
.csstransforms .showchannels #main {-moz-transform: translate(260px, 0px); -webkit-transform: translate(260px, 0px); -o-transform: translate(260px, 0px); -ms-transform: translate(260px, 0px); transform: translate(260px, 0px);}
.csstransforms .showcomments #main {-moz-transform: translate(-260px, 0px); -webkit-transform: translate(-260px, 0px); -o-transform: translate(-260px, 0px); -ms-transform: translate(-260px, 0px); transform: translate(-260px, 0px);}

.showchannels .show.channels,
.showcomments .show.comments {/*background-color:#444; box-shadow:-1px -1px 0px 0px #666 inset, 1px 1px 0px #000 inset; -webkit-box-shadow:-1px -1px 0px 0px #666 inset, 1px 1px 0px #000 inset;*/}
.showchannels .show.channels {background-position:-680px -40px;}
.showcomments .show.comments {background-position:-720px -40px;}


@media only screen and (max-width: 480px) {
	.showchannels #listChat {}
	.showcomments #listGroups {left:-260px}
	#listArticle > article {left:5px; right:5px; top:0px; bottom:5px; }
	
	.inlineForm label {width:100%; margin-right:0%; text-align:left; padding:0 0 5px 0}
	.inlineForm .formEl {max-width:100%; min-width:30%}
}
@media only screen and (min-width: 480px) {
	#main {left:45px}
	.no-csstransforms .showcomments #main {left:-215px;}
	.csstransforms .showchannels #main {-moz-transform: translate(215px, 0px); -webkit-transform: translate(215px, 0px); -o-transform: translate(215px, 0px); -ms-transform: translate(215px, 0px); transform: translate(215px, 0px);}
	.csstransforms .showcomments #main {-moz-transform: translate(-260px, 0px); -webkit-transform: translate(-260px, 0px); -o-transform: translate(-260px, 0px); -ms-transform: translate(-260px, 0px); transform: translate(-260px, 0px);}

	#navSearch input {width: 0px;}
	.showchannels #navSearch input {width: 100%;}
	#listArticle > article {left:50px;}
}
@media only screen and (min-width: 620px) {
	#main {right:45px}
	.no-csstransforms .showchannels #main {left:260px; right:-215px}
	.no-csstransforms .showcomments #main {left:-215px; right: 260px}

	.csstransforms .showcomments #main {-moz-transform: translate(-215px, 0px); -webkit-transform: translate(-215px, 0px); -o-transform: translate(-215px, 0px); -ms-transform: translate(-215px, 0px); transform: translate(-215px, 0px);}

	#listChat .content form input {width:22px; left:215px}
	#listChat .content form textarea {width:25px; left:215px}
	.showcomments #listChat .content form input {width:238px; left:0}
	.showcomments #listChat .content form textarea {width:240px; left:0}
	#listArticle > article {left:50px; right:50px}
}

@media only screen and (min-width: 780px) {
	.detailItem .eventList {position:absolute; left:0; width:280px; padding-top:2px}
	.detailItem .articleList {padding:2px 2px 0 280px}
}

@media only screen and (min-width: 1000px) {
	#main {left:260px;}
	.no-csstransforms .showchannels #main {left:260px; right:45px}
	.no-csstransforms .showcomments #main {left:45px; right: 260px}

	.csstransforms .showchannels #main {-moz-transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); -o-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); transform: translate(0px, 0px);}

	#listGroups {width:265px}
	#navSearch input {width:100%;}
	.show.channels {display:none}
	.showcomments .show.channels {display:inline-block}
}
@media only screen and (min-width: 1200px) {
	#main {right:260px}
	.no-csstransforms .showchannels #main {left:260px; right:260px}
	.no-csstransforms .showcomments #main {left:260px; right: 260px}
	.csstransforms .showcomments #main {-moz-transform: translate(0px, 0px); -webkit-transform: translate(0px, 0px); -o-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); transform: translate(0px, 0px);}

	#listChat {width:265px}
	#listChat .content form input, #listChat .content form textarea {width:230px; left:0}
	.show.comments {display:none}
}

@media only screen and (min-width: 1300px) {
	.articleItem {width:49.5%; vertical-align: top; min-height:200px;}
}