<!-- // STATIC TEMPLATES /////////////////////////////////////////// -->

<!-- // DETAIL ITEM TEMPLATES // -->
<script id="static_helpTemplate" class="tmpl" type="text/template">
	<header class="detailHead bb shadows">
		<h1>Help</h1>
	</header>
	<div class="contentWrapper">
		<div class="scroller">
			<h2>Welcome to Onside</h2>
			<p>Onside brings together all the sports news and events from your favourite competitions, organisations, teams and players from accross the web into one place.</p>
			
			<h3>Channels</h3>
			<p>Onside Channels bring together all news on specific teams and players, it makes it simple for you to find and follow the news you want</p>
			<p>Follow Channels: by following a channel it will appear in your on your home page so you get the latest news every time you come back.</p>
			
			<h3>Search</h3>
			<p>You can find channels by <a href="#">searching</a> for what ever you love. <a href="#">Try it now</a></p>
			
			<h3>Browse</h3>
			<p>Want inspirations, you can browse <a href="#">featured</a>, <a href="#">new</a> and <a href="#">popular channels</a>.</p>
			
			<h3>Have your say</h3>
			<p>Get involved, comment your opinion your way, you can do it onside, on twitter or facebook</p>
			
			<h3>Share</h3>
			<p>Find some news you love... or hate, share it with the world. You can share to facebook or twitter.</p>
			
		</div><!-- /.scroller -->
	</div>
</script>

<script id="detail404Template" class="tmpl" type="text/template">
	<header class="detailHead bb">
		<h1>404: Channel not found</h1>
		<span class="brandStripe"></span>
	</header>
	
	<div class="contentWrapper"></div>
</script>