<!-- // STATIC TEMPLATES /////////////////////////////////////////// -->

<!-- // DETAIL ITEM TEMPLATES // -->
<script id="detail404Template" class="tmpl" type="text/template">
	<header class="detailHead bb">
		<h1>404: Channel not found</h1>
		<span class="brandStripe"></span>
	</header>
	
	<div class="contentWrapper"></div>
</script>

<script id="static_helpTemplate" class="tmpl" type="text/template">
	<header class="detailHead bb shadows">
		<h1>Help</h1>
	</header>
	<div class="contentWrapper">
		<div class="scroller">
			<div class="bb">
				<h2>Help with Onside</h2>
				<p>Onside brings together all the sports news and events from your favourite competitions, organisations, teams and players from accross the web into one place.</p>
			</div>
			<div class="bb">
				<h2>Channels</h2>
				<p>Onside Channels bring together all news on specific teams and players, it makes it simple for you to find and follow the news you want</p>
				<p>Follow Channels: by following a channel it will appear in your on your home page so you get the latest news every time you come back.</p>
			</div>
			<div class="bb">
				<h2>Search</h2>
				<p>You can find channels by <a class="triggerSearch" href="#navSearch">searching</a> for what ever you love. <a class="triggerSearch" href="#navSearch">Try it now</a></p>
			</div>
			<div class="bb">
				<h2>Browse</h2>
				<p>Want inspirations, you can browse <a href="#list/popular">featured</a>, <a href="#list/popular">new</a> and <a href="#list/popular">popular channels</a>.</p>
			</div>
			<div class="bb">
				<h2>Have your say</h2>
				<p>Get involved, comment your opinion your way, you can do it onside, on twitter or facebook</p>
			</div>
			<div class="bb">
				<h2>Share</h2>
				<p>Find some news you love... or hate, share it with the world. You can share to facebook or twitter.</p>
			</div>
			<div class="bb">
				<h2>Contact Us</h2>
				<p>If you have a problem, find a bug or even have a great idea we can add.. let us know, just fill out the <a href="#" class="triggerFeedback">feedback form</a> any time.</p>
			</div>
		</div><!-- /.scroller -->
	</div>
</script>

<script id="static_welcomeTemplate" class="tmpl" type="text/template">
	<header class="detailHead bb shadows">
		<h1>Welcome to Onside</h1>
	</header>
	<div class="contentWrapper">
		<div class="scroller">
			<div class="block bb inlineForm on">
				<% if( user.facebook && user.twitter ) { %>
				<h2>1. Well done, social networks added</h2>
				<form>
					<p>You can now login, share news and comment using your favourite social networks</p>

				<% } else { %>
				<h2>1. Add you social networks <span></span></h2>
				<form>
					<p>By connecting your social accounts you can login faster, comment and share information news with your friends.</p>

				<% } %>
					<div class="formActions">
						<% if( !user.facebook ) { %>
							<a class="triggerFacebook btn" href="#">add facebook</a>
						<% } else { %>
							<span>Facebook added</span>
						<% } %>
						<% if( !user.twitter ) { %>
							<a class="triggerTwitter btn" href="#">add twitter</a>
						<% } else { %>
							<span>Twitter added</span>
						<% } %>
						<a href="#" class="btn next">next</a>
					</div>
				</form>
			</div>
			<div class="block bb" id="userUpdate">
				<h2>2. Check your details</h2>
				<form method="post" action="/api/user" class="inlineForm">
					<fieldset>
						<div class="">
							<label for="name">Your Name</label>
							<input class="formEl" name="name" type="text" placeholder="Your Name" value="<%= user.name %>" />
						</div>
						<div class="">
							<label for="name">New password</label>
							<input class="formEl" name="password" type="password" value="" placeholder="6-10 characters inlcuding a number" />
						</div>
						<div class="">
							<label for="name">Confirm password</label>
							<input class="formEl" name="confirmPassword" type="password" value="" />
						</div>
						<input type="hidden" name="user" value="<%= user.id %>" />						
					</fieldset>
					<div class="formActions">
						<button class="btn" type="submit">save</button>
						<a href="#" class="btn next">next</a>
					</div>
				</form>
			</div>
			<!--div class="block bb" id="userLocation">
				<h2>3. Your location</h2>
				<p>Getting your location: <span class="status">.. loading</span></p>
			</div-->
			<div class="block bb">
				<h2>3. Lets find you some content</h2>
				<form method="post" action="" class="inlineForm" id="userInterests">
					<p>Start by choosing the sports you like:</p>
					<ul class="tagList">
						<@ var i=0, l=sports.length; sports.sort() @>
						<@ for(i; i < l; i++){ @>
							<@ if(sports[i] !== 'other') { @>
							<li><a href="#"><@= sports[i] @></a></li>
							<@ } @>
						<@ } @>
					</ul>
					<ul class="channelsQuickFollow"></ul>
					<div class="formActions">
						<!--button class="btn" type="submit">find channels</button-->
						<a href="#list/home" class="btn finish">finish</a>
					</div>
				</form>
			</div>
			
		</div><!-- /.scroller -->
	</div>
</script>

