<!-- // ARTICLE TEMPLATES /////////////////////////////////////////// -->


<script id="articleDetail_rss" class="tmpl" type="text/template">
	<header class="detailHead">
		<h1><@= title @></h1>
		<nav>
			<a class="icon share" href="#">share</a>
			<a class="icon save" href="#">save</a>
			<a class="icon close" href="#">close</a>
		</nav>
	</header>

	<div class="contentWrapper">
		<@ if(images) { @>
			<img src='<@= images @>' />
		<@ } @>
		
		<@= extended @>
		
		<footer><a href="<@= link >" target="_blank">See original article</a></footer>
	</div>
	
</script>

<script id="articleDetail_youtube" class="tmpl" type="text/template">
	<@ var width = $('#listArticle').width(); @><!-- if(width > 500) width = 500; -->
	<@ var ratio = (2/3); @>
	<@ var height = width * ratio; @>
	
	<header class="detailHead">
		<h1><@= title @></h1>
		<nav>
			<a class="icon share" href="#">share</a>
			<a class="icon save" href="#">save</a>
			<a class="icon close" href="#">close</a>
		</nav>
	</header>

	<div class="contentWrapper">
		<iframe class="youtube-player" type="text/html" width="<@= width @>" height="<@= height @>" src="http://www.youtube.com/embed/<@= vid @>" frameborder="0"></iframe>
	</div>
</script>

<script id="articleDetail_iframe" class="tmpl overlay" type="text/template">
	<header class="detailHead">
		<h1><@= title @></h1>
		<nav>
			<a class="icon share" href="#">share</a>
			<a class="icon save" href="#">save</a>
			<a class="icon close" href="#">close</a>
		</nav>
	</header>

	<div class="contentWrapper iframeWrap">
		<iframe src="<@= link @>" />
	</div>
</script>

<script id="articleDetail_twitter" class="tmpl overlay" type="text/template" >
	<@ var time = prettyDate( publish ); @>
	<header class="detailHead">
		<h1>Twitter @ [[name]]</h1>
		<nav>
			<a class="icon share" href="#">share</a>
			<a class="icon save" href="#">save</a>
			<a class="icon close" href="#">close</a>
		</nav>
	</header>

	<div class="contentWrapper twitter">
		<div class="original">
			<img src="<@= images @>" />
			<p class="quotes"><@= content @></p>
			<cite><@= author @></cite>
			<@= time @>
			<a class="reply" href="#">@reply</a><!-- :: check if user is twit auth, if not login and return to here-->
		</div>
		
		<ul class="older"></ul>
	</div>
</script>

<script id="articleDetail_espn" class="tmpl" type="text/template">
	<header>
		<h1><@= title @></h1>
	</header>
	<nav>
		<a class="close button" href="#">close</a>
		<span class="buttonGroup">
			<a class="share" href="#">share</a>
			<a class="save" href="#">save</a>
		</span>
	</nav>
	
	<@ if(images) { @>
		<img src='<@= images @>' />
	<@ } @>
	
	<div><@= extended @></div>
</script>



