<!-- // ARTICLE TEMPLATES /////////////////////////////////////////// -->


<script id="articleTemplate" class="tmpl" type="text/template">
	<@ var time = prettyDate( publish ); @>
	<@ var imageClass = (images)? 'hasImage' : ''; @>
	<div class="inner <@= imageClass @>">		
		<h1><@= title @></h1>
		<@ if(images) { @>
			<img src='<@= images @>' />
		<@ } @>
		<div class="content"><@= content @></div>
		<footer>
			<cite>from: <@ if(author && author.length > 2) { @><@= author @> at <@ } @><@= source@></cite>
			<@ if(publish) { @>  / <time><@= time @></time><@ } @>
			<nav> 
				<a class="filter" href="#">filter results</a> 
				<@ if(extended) { @>
					<a class="open" href='<@= link @>'>read full article</a>
				<@ } else { @>
					<a class="open" href='<@= link @>'>see website</a>
				<@ } @>
			</nav>
		</footer>
	</div>
	<section class="filters">
		<h2>Filter content to show more:</h2>
		<a class="f_type" href="#">type <span><@= type @></span></a>
		<a class="f_source" href="#" >from <span><@= source @></span></a>
		<a class="f_keywords" href="#">about <span><@= keywords @></span></a>
		<a class="f_author" href="#">by <span><@= author @></span></a>
	</section>

		
</script>

<script id="articleTemplate-twitter" class="tmpl" type="text/template">
	<div class="inner">
		<p class="quotes"><@= content @></p>
		<cite>@<@= author @> on twitter</cite>
		<nav><a class="filter" href="#">filter results</a><a class="open" href='<@= link @>'>see more tweets</a></nav>
	</div>
</script>

<script id="articleTemplate-youtube" class="tmpl" type="text/template">
	<@ var time = prettyDate( publish ); @>
	<div class="inner">
		<p><@= author @><time><@= time @></time></p>
		<h2><@= title @></h2>
		<input type="hidden" value="<@= link @>" name="videoData" />
	</div>	
	<a href="<@= link @>" class="open">
		<span class="icon play">watch video</span>
		<img src="http://img.youtube.com/vi/<@= vid @>/hqdefault.jpg" width="100%" alt="[Video title]" />
	</a>
</script>
