
<article class="well refine">
	<form class="form-stacked">
		<div class="row">
			<div class="span3"><div class="clearfix">
    				<label for="tableSelect">Select Row</label>
					<div class="input"><select id="tableSelect" name="tableSelect" class="dynamicSelect" data-content="table"></select></div>
			</div></div>

			<div class="span3"><div class="clearfix">
    				<label for="tableValues">Select Value</label>
					<div class="input"><select id="tableValues" name="tableValues"><option>please select row first</option></select></div>
			</div></div>

			<div class="span3"><div class="clearfix">
    				<label for="tableSearch">Search for value</label>
					<div class="input"><input type="text" id="tableSearch" name="tableSearch" /></div>
			</div></div>
			
			<div class="span3 foot">
				<input type="submit" value="Update table" class="btn-primary">
				<input type="reset" value="Reset" class="btn-danger">
			</div>
		</div>
	</form>
</article>
<table class="table table-striped table-bordered table-condensed">
	<thead></thead>
	<tbody></tbody>
</table>
