<!-- // GENERAL TEMPLATES /////////////////////////////////////////// -->


<!-- // NAVIGATION TEMPLATES // -->

<script id="channelItemTemplate" class="tmpl" type="text/template">
	<a href="#">
		<img src="<@= image @>" />
		<h1><@= name @></h1>
	</a>
</script>

<script id="eventItemTemplate" class="tmpl" type="text/template">
	<a href="#">
		<img src="/i/placeholder/listIcon2.png" />
		<h1><@= name @></h1>
	</a>
</script>

<script id="savedSearchTemplate" class="tmpl" type="text/template">
	<a href="#">
		<span class="icon search"></span>
		<h1><@= name @></h1>
	</a>
</script>



<!-- // DETAIL ITEM TEMPLATES // -->
<script id="detailTemplate" class="tmpl" type="text/template">
	<header class="detailHead bb shadows">
		<h1>
			<img class="badge" src="<@= image @>" />
			<@= title @>
		</h1>
		<nav>
			<% if (everyauth.loggedIn) { %>
			<@ var saveClass = (saved)? 'active' : ''; @>
			<a class="save <@= saveClass @>" href="#!/save"><span class="icon save">save</span></a>
			<% } else { %>
			<a class="login" href="#!/signup"><span class="icon login"></span>login to save</a>
			<% } %>
			<a class="filter" href="#!/filter"><span class="icon filter">filter</span></a>
		</nav>
	</header>
	
	<div class="contentWrapper">
		<div class="scroller">
			<div id="pullDown" class="scrollLoad"><span class="icon pullDown"></span><span class="label">Pull down to refresh...</span></div>		
			
			<div id="pullUp" class="scrollLoad"><span class="icon pullUp"></span><span class="label">Pull up to load more...</span></div>		
		</div><!-- /.scroller -->
	</div>
</script>

<script id="channelDetailItemTemplate" class="tmpl" type="text/template">
	<a href="#">
		<img class="badge" src="<@= image @>" />
		<h1><@= name @></h1>
	</a>
</script>
	
<script id="channelDetailHomeItemTemplate" class="tmpl" type="text/template">
	<@ var time = prettyDate( defaultArticle.publish ); @>
	<header class="shadows">
		<img class="badge" src="<@= image @>" />
		<h1><@= name @></h1>
		<p class="stats">[[ 120 followers / 20 articles since last visit ]]</p>
		<@ if(time) { @><p class="detail">Latest news from: <time><@= time @></time></p><@ } @>
	</header>
	<div class="inner">
		<div class="wrapArticle <@= defaultArticle.type @>">
			<@ if( defaultArticle.type === 'rss' ) { @>
				<h2>RSS: <@= defaultArticle.title @></h2>
			<@ } else if(defaultArticle.type === 'twitter') { @>
				<h2>twitter: <@= defaultArticle.content @></h2>
				<cite>@<@= defaultArticle.author @> on twitter</cite>
			<@ } else if(defaultArticle.type === 'youtube') { @>
				<h2>Youtube: <@= defaultArticle.title @></h2>
			<@ } else { @>
				<h2>no new articles to display</h2>
			<@ } @>
		</div>
		<!--div class="wrapEvent">
			<h2>[[ latest / Next event info if any - determine if this is more important than news ]]</h2>
		</div-->
	</div>
</script>

<script id="eventDetailItemTemplate" class="tmpl" type="text/template">
	<@ var time = prettyDate( stime ); @>
	<@ var typeName = type; if(type === 'match'){ typeName = (participantsObj[0].score)? 'RESULT' : 'FIXTURE'; } @>
	<header>
		<h1><@= typeName @></h1>
		<time><@= time @></time>
	</header>
	<section>
		<@ if(participantsObj.length == 2) { @>
		<p>
			<a href="/channel/<@= participantsObj[0].channel @>"><@= participantsObj[0].name @></a>
			<@ if(participantsObj[0].score) { @><span class="score"><@= participantsObj[0].score @></span><@ } @>
			<span>v</span>
			<@ if(participantsObj[1].score) { @><span class="score"><@= participantsObj[1].score @></span><@ } @>
			<a href="/channel/<@= participantsObj[1].channel @>"><@= participantsObj[1].name @></a>
		</p>
		<@ } else { @>
			<p><@= name @></p>
		<@ } @>
		<!--@ } else { @>
			<@ for(var i=0; i<participants.length; i++) { @>
				<a href="/channe/<@= participants[i].channel @>">
					<@= participants[i].name @>
					<@ if(participants[i].score) { @><span><@= participants[i].score @></span><@ } @>
				</a>
			<@ } @>
		<@ } @-->		

		<p class="location"><@ if(location) { @>@ <@= location @><@ } @></p>
		<!--@ if(parent) { @><p> <@= parent @> </p><@ } @-->
	</section>
</script>

<!-- // COMMENT TEMPLATES // -->
<script id="commentTemplate" class="tmpl" type="text/template">
	<@ var time = prettyDate( added ); @>
	
	<div class="user">
		<img src="/i/placeholder/user_small.gif" />
		<cite>
			[[ username ]]
			<@ if(user) { @> 
				<a href='/user/<@= user @>' > user id: <@= user @> </a> - <a class="reply" href="#">reply</a>
			<@ } @>
		</cite>
		<@ if(added) { @>
			<time> <@= time @> </time>
		<@ } @>
	</div>
	<div class="wrapComment">
		<p><@= comment @></p>
	</div>
</script>

<script id="tweetTemplate" class="tmpl" type="text/template">
	<@ var time = prettyDate( created_at ); @>
	<img src="<@= profile_image_url @>" />
	
	<div class="user">
		<cite>
			<a href='https://twitter.com/#!/<@= from_user_name @>' ><@= from_user_name @> </a> - <a class="reply" href="#">reply</a>
		</cite>
		<time><@= time @></time>
	</div>
	<div class="wrapComment">
		<p><@= text @></p>
	</div>
</script>
<script id="officialTweetTemplate" class="tmpl" type="text/template">
	<@ var time = prettyDate( created_at ); @>
	<img src="<@= user.profile_image_url @>" />
	
	<div class="user">
		<cite>
			<a href='https://twitter.com/#!/<@= user.screen_name @>' ><@= user.screen_name @> </a> - <a class="reply" href="#">reply</a>
		</cite>
		<time><@= time @></time>
	</div>
	<div class="wrapComment">
		<p><@= text @></p>
	</div>
</script>




