<!-- // GENERAL TEMPLATES /////////////////////////////////////////// -->


<!-- // NAVIGATION TEMPLATES // -->

<script id="channelItemTemplate" class="tmpl" type="text/template">
	<a href="#">
		<img src="<@= image @>" />
		<h1><@= name @></h1>
	</a>
</script>

<script id="eventItemTemplate" class="tmpl" type="text/template">
	<a href="#">
		<img src="/i/placeholder/listIcon2.png" />
		<h1><@= name @></h1>
	</a>
</script>

<script id="savedSearchTemplate" class="tmpl" type="text/template">
	<a href="#">
		<span class="icon search"></span>
		<h1><@= name @></h1>
	</a>
</script>

<!-- help templates -->
<script id="help_channelItemTemplate" class="tmpl" type="text/template">
	<span class="icon think"></span>
	<a href="#" class="hide">hide help</a>
	<h2>You are currently not following any channels</h2>
	<p>Start by finding new channels <a class="focusSearch" href="#">searching</a> or browsing some of our <a href="#">popular</a> channels.</p>
</script>

<script id="help_eventItemTemplate" class="tmpl" type="text/template">
	<span class="icon think"></span>
	<a href="#" class="hide">hide help</a>
	<h2>No events to see..</h2>
	<p>Some channels do not have any events, so why not follow some more channels?</p>
</script>

<script id="help_savedSearchTemplate" class="tmpl" type="text/template">
	<span class="icon think"></span>
	<a href="#" class="hide">hide help</a>
	<h2>No saved searches</h2>
	<p>If you the channel you want doesnt exist you can save a search to get news on something specific.</p>
</script>

<script id="help_channelDetailTemplate" class="tmpl" type="text/template">
	<span class="icon think"></span>
	<h2>This channel does not have any related channels</h2>
	<p>Start by finding new channels <a class="focusSearch" href="#">searching</a> or browsing some of our <a href="#">popular</a> channels.</p>
</script>

<script id="help_detail_searchTemplate" class="tmpl" type="text/template">
	<span class="icon think"></span>
	<h2>There are no search results for that term, please be patient as we add new content sources.</h2>
	<p>If you can recommend a content source we will add it to the channel. We can pull in RSS feeds, tweets, youtube videos and we are always adding new sources as well.</p>
	<a href="#">Make a recommendation</a>
</script>

<script id="help_detail_channelTemplate" class="tmpl" type="text/template">
	<span class="icon think"></span>
	<h2>There are no articles to show</h2>
	<p>... who knows why</p>
</script>

<script id="help_detail_homeTemplate" class="tmpl" type="text/template">
	<span class="icon think"></span>
	<h2>You have no channels saved</h2>
	<p>Search for some new channels and save the ones you like, thats all there is too it...</p>
</script>


<!-- // DETAIL ITEM TEMPLATES // -->
<script id="detailTemplate" class="tmpl" type="text/template">
	<header class="detailHead bb">
		<h1>
			<img class="badge" src="<@= image @>" />
			<@= title @>
		</h1>
		<nav>
			<!--a class="refresh" href="#">refresh</a-->
			<% if (everyauth.loggedIn) { %>	
			<a class="save" href="#"><span class="icon save">save</span></a>
			<% } else { %>
			<a class="login" href="#"><span class="icon login"></span>login to save</a>
			<% } %>
			<a class="filter" href="#"><span class="icon filter">filter</span></a>
		</nav>
		<span class="brandStripe"></span>
	</header>
	
	<div class="contentWrapper">
		<div class="scroller"></div><!-- /.scroller -->
	</div>
</script>

<script id="detail404Template" class="tmpl" type="text/template">
	<header class="detailHead bb">
		<h1>404: Channel not found</h1>
		<span class="brandStripe"></span>
	</header>
	
	<div class="contentWrapper"></div>
</script>

<script id="channelDetailItemTemplate" class="tmpl" type="text/template">
	<a href="#">
		<img class="badge" src="<@= image @>" />
		<h1><@= name @></h1>
	</a>
</script>
	
<script id="channelDetailHomeItemTemplate" class="tmpl" type="text/template">
	<@ var time = prettyDate( defaultArticle.publish ); @>
	<header>
		<img class="badge" src="<@= image @>" />
		<h1><@= name @></h1>
		<p>[[ 120 followers / 20 articles since last visit ]]</p>
	</header>
	<div class="wrapArticle <@= defaultArticle.type @>">
		<h2>Latest news from: <time><@= time @></time></h2>
		<h3><@= defaultArticle.title @></h3>
		<p class="more">see all <@= name @> news &gt;</p>
	</div>
	<div class="wrapEvent">
		<h2>[[ latest / Next event info if any - determine if this is more important than news ]]</h2>
	</div>
</script>

<script id="eventDetailItemTemplate" class="tmpl" type="text/template">
	<h1><@= name @></h1>
	<p><@= sport @> / <@= type @></p>
</script>



<!-- // COMMENT TEMPLATES // -->
<script id="commentTemplate" class="tmpl" type="text/template">
	<@ var time = prettyDate( added ); @>
	
	<div class="user">
		<img src="/i/placeholder/user_small.gif" />
		<cite>
			[[ username ]]
			<@ if(user) { @> 
				<a href='/user/<@= user @>' > user id: <@= user @> </a> - <a class="reply" href="#">reply</a>
			<@ } @>
		</cite>
		<@ if(added) { @>
			<time> <@= time @> </time>
		<@ } @>
	</div>
	<div class="wrapComment">
		<p><@= comment @></p>
	</div>
</script>

<script id="tweetTemplate" class="tmpl" type="text/template">
	<@ var time = prettyDate( created_at ); @>
	<img src="<@= profile_image_url @>" />
	
	<div class="user">
		<cite>
			<a href='https://twitter.com/#!/<@= from_user_name @>' ><@= from_user_name @> </a> - <a class="reply" href="#">reply</a>
		</cite>
		<time><@= time @></time>
	</div>
	<div class="wrapComment">
		<p><@= text @></p>
	</div>
</script>
<script id="officialTweetTemplate" class="tmpl" type="text/template">
	<@ var time = prettyDate( created_at ); @>
	<img src="<@= user.profile_image_url @>" />
	
	<div class="user">
		<cite>
			<a href='https://twitter.com/#!/<@= user.screen_name @>' ><@= user.screen_name @> </a> - <a class="reply" href="#">reply</a>
		</cite>
		<time><@= time @></time>
	</div>
	<div class="wrapComment">
		<p><@= text @></p>
	</div>
</script>




