<!-- help templates -->
<script id="help_defaultTemplate" class="tmpl" type="text/template">
	<span class="icon think"></span>
	<h2>No content... something is missing!</h2>
</script>

<!-- Left nav helpers -->
<script id="help_navChannelTemplate" class="tmpl" type="text/template">
	<span class="icon think"></span>
	<a href="#" class="hide">hide help</a>
	<h2>You are currently not following any channels</h2>
	<p>Start by finding new channels <a class="focusSearch" href="#">searching</a> or browsing some of our <a href="#">popular</a> channels.</p>
</script>

<script id="help_navEventTemplate" class="tmpl" type="text/template">
	<span class="icon think"></span>
	<a href="#" class="hide">hide help</a>
	<h2>No events to see..</h2>
	<p>Some channels do not have any events, so why not follow some more channels?</p>
</script>

<script id="help_navSearchTemplate" class="tmpl" type="text/template">
	<span class="icon think"></span>
	<a href="#" class="hide">hide help</a>
	<h2>No saved searches</h2>
	<p>If you the channel you want doesnt exist you can save a search to get news on something specific.</p>
</script>


<!-- Detail item helpers: home -->
<script id="help_detailHomeChannelTemplate" class="tmpl" type="text/template">
	<span class="icon think"></span>
	<h2>You have no channels saved</h2>
	<p><a href="/#/search" class="triggerSearch">Search</a> for some new channels and save the ones you like, thats all there is too it...</p>
</script>

<!-- Detail item helpers: search -->
<script id="help_detailSearchChannelTemplate" class="tmpl" type="text/template">
	<span class="icon think"></span>
	<h2>No channels match your search - why not create one?</h2>
	<p>We are constantly adding new channels, but if there is one you would like to see you can easily create an unofficial one.</p>
	<!--p>Even better, if it becomes an official channel we will reward you.</p-->
	<a class="triggerAddChannel button" href="/#/addChannel">Create a <span class="searchTitle"></span> channel</a>
</script>

<script id="help_detailSearchEventTemplate" class="tmpl" type="text/template">
	<span class="icon think"></span>
	<h2>There are no events for that search term</h2>
	<p>please try another search term. We are constantly adding new content, if there is something you would like to see please <a class="triggerFeedback" href="/#/feedback">leave us some feedback</a></p>
</script>

<script id="help_detailSearchArticleTemplate" class="tmpl" type="text/template">
	<span class="icon think"></span>
	<h2>There are no search results for that term, please be patient as we add new content sources.</h2>
	<p>If you can recommend a content source we will add it to the channel. We can pull in RSS feeds, tweets, youtube videos and we are always adding new sources as well.</p>
	<a class="triggerAddSource button" href="/#/addSource">Make a recommendation</a>
</script>

<!-- Detail item helpers: default -->
<script id="help_detailDefaultChannelTemplate" class="tmpl" type="text/template">
	<span class="icon think"></span>
	<h2>This channel does not have any related channels</h2>
	<p>Start by finding new channels <a class="focusSearch" href="#">searching</a> or browsing some of our <a href="#">popular</a> channels.</p>
</script>

<script id="help_detailDefaultEventTemplate" class="tmpl" type="text/template">
	<span class="icon think"></span>
	<h2>There are no events associated with this channel yet.</h2>
	<!--p>... who knows why</p-->
</script>

<script id="help_detailDefaultArticleTemplate" class="tmpl" type="text/template">
	<span class="icon think"></span>
	<h2>There are no articles to show</h2>
	<p>If you know any good rss feed, twitter users, youtube channels or other content that would be suitable for this channel you can recommend it.</p>
	<a class="triggerAddSource button" href="/#/addSource">Make a recommendation</a>
</script>

<!-- Detail item helpers: comment -->
<script id="help_commentOnsideTemplate" class="tmpl" type="text/template">
	<span class="icon think"></span>
	<h2>Please choose a channel or article to comment on</h2>
	<p>You can comment using any of your favourite social networks, facebook, twitter or right here on Onside</p>
</script>
<script id="help_commentFacebookTemplate" class="tmpl" type="text/template">
	<span class="icon think"></span>
	<h2>Facebook - please add your account</h2>
	<p>To comment using facebook please add your facebook to Onside.</p>
	<a href="/auth/facebook">Login with facebook</a>
</script>
<script id="help_commentTwitterTemplate" class="tmpl" type="text/template">
	<span class="icon think"></span>
	<h2>Twitter - please add your account</h2>
	<p>To comment using twitter please add your facebook to Onside.</p>
	<a href="/auth/twitter">Login with facebook</a>
</script>
<script id="help_commentGoogleTemplate" class="tmpl" type="text/template">
	<span class="icon think"></span>
	<h2>Google - please add your account</h2>
	<p>To comment using google please add your facebook to Onside.</p>
	<a href="/auth/google">Login with facebook</a>
</script>








