
section#OnsideApp
	header
		div.inner
			h1 Onside
				
			nav
				- if (everyauth.loggedIn)
					a.settings
					a.account= everyauth.user.name
					div#navAccounts.block
							a.logout(href="/logout") Sign out
							p= JSON.stringify(everyauth.user)
	
				- else
					a.login.showBlock(href="#navLogin") join Onside
					div#navLogin.block
						a(href='/register') Register
						a(href='/login', style='border: 0px') Login with Password					
						
						a(href='/register') Register
						br
						
						a(href='/login', style='border: 0px') Login with Password
						br
						
						a.fb_button_medium(href='/auth/facebook')
							span#fb_login_text.fb_button_text
							Connect with Facebook
						br
						a(href='/auth/twitter')
							img(src='https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png')
						br
						
						a(href='/auth/google')
							img(style='border: 0px', src='https://www.google.com/favicon.ico')
	
				div#navSearch
					form(action="/search")
						input#groupSearch(type="search", placeholder="search", name="q")
						button#searchSubmit(type="submit", name="submit") search all sports
			
	
	div#main(role='main')
		section.page#listGroups
			header
				nav
					a.toggleList.toggleButton2(href="#")
						span.channel channels
						span.event events

			section.content

		section.page#listDetail
		
		section.page#detailArticle
		
		section.page#listChat
			div.addBlock
				form(action="/")
					input#commentAdd(type="text", placeholder="write a message_", name="comment")

			section.content

			footer
				a(href="#") SEE MORE DISCUSSIONS



// templates
script#channelItemTemplate.tmpl(type="text/template")
	\<img src="<%= img %>" />
	h1 <%= name %>

script#channelDetailItemTemplate.tmpl(type="text/template")
	h1 <%= name %>

script#eventItemTemplate.tmpl(type="text/template")
	img(src="/i/placeholder/listIcon2.png")
	h1 <%= name %>

script#eventDetailItemTemplate.tmpl(type="text/template")
	h1 <%= name %>

script#detailTemplate.tmpl(type="text/template")
	header
		h1 <%= title %>
		nav
			span.buttonGroup
				a.filter(href="#") filter page
				a.refresh(href="#") refresh
				
			a.button.close(href="#") close
	
	div.contentWrapper

script#articleTemplate.tmpl(type="text/template")
	div.pad
		\<% if(images) { %> <img src='<%= images %>' /> <% } %>
	
		\<% if(extended) { %> <a class="readMore button" href="#">read more</a> <% } %>
		
		\<% if(publish) { %> <time> <%= publish %> </time> <% } %>
	
		h2 <%= title %>
		p <%= content %>
		\<a href='<%= link %>'>@ <%= source %></a>

script#articleTemplate-twitter.tmpl(type="text/template")
	div.pad
		p <%= content %>
		cite <%= author %>
		//\<%= link %>

script#articleTemplate-youtube.tmpl(type="text/template")
	//
		h2 <%= author %>: <%= title %>
		p <%= content %>
		\<input type="hidden" value="<%= link %>" name="videoData" />
		\<% if(publish) { %> <time> <%= publish %> </time> <% } %>
		\<a href='<%= videos %>'>see video</a>
	
	//\<iframe class="youtube-player" type="text/html" width="373" height="220" src="http://www.youtube.com/embed/<%= videoId%>" frameborder="0"></iframe>
	\<object style="height: 245; width: 373">
	\<param name="movie" value="https://www.youtube.com/v/<%= videoId%>?version=3&feature=player_embedded&autohide=1&fs=1&iv_load_policy=3&feature=player_embedded"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always">
	\<embed src="https://www.youtube.com/v/<%= videoId%>?version=3&feature=player_embedded&autohide=1&fs=1&iv_load_policy=3&feature=player_embedded" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="373" height="245"></object>

script#articleDetail.tmpl(type="text/template")
	header
		h1 <%= title %>
		nav
			span.buttonGroup
				a.share(href="#") share
				a.save(href="#") save
		
		\<% if(images) { %> <img src='<%= images %>' /> <% } %>
		div <%= extended %>

script#commentTemplate.tmpl(type="text/template")
	p <%= comment %>

	\<% if(user) { %> <a href='/user/<%= user %>' > user id: <%= user %> </a> <% } %>
	\<% if(added) { %> <time> <%= added %> </time> <% } %>
	
	nav
		a.reply(href="#") reply





