
section#OnsideApp
	header
		div.inner
			h1 Onside
				
			nav
				- if (everyauth.loggedIn)
					a.settings
					a.account= everyauth.user.name
					div#navAccounts.block
							a.logout(href="/logout") Sign out
							p= JSON.stringify(everyauth.user)
	
				- else
					a.login.showBlock(href="#navLogin") join Onside
						span +
					a.feedback(href="#blockHelp") feedback
						span +
					a.help(href="#blockHelp") help
						span +
					div#navLogin.block
						a(href='/register') Register
						a(href='/login', style='border: 0px') Login with Password					
						
						a(href='/register') Register
						br
						
						a(href='/login', style='border: 0px') Login with Password
						br
						
						a.fb_button_medium(href='/auth/facebook')
							span#fb_login_text.fb_button_text
							Connect with Facebook
						br
						a(href='/auth/twitter')
							img(src='https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png')
						br
						
						a(href='/auth/google')
							img(style='border: 0px', src='https://www.google.com/favicon.ico')
	
			div#navSearch
				form(action="/search")
					input#groupSearch(type="search", placeholder="search", name="q")
					button#searchSubmit(type="submit", name="submit") search all sports
			
	
	div#main(role='main')
		section#listGroups.page.mini
			header
				nav
					a.toggleList.toggleButton2(href="#")
						span.channel channels
						span.event events

			section.content
			
			//footer
				

		section.page#listDetail
		
		section.page#detailArticle
		
		section.page#listChat
			div.addBlock
				form(action="/")
					input#commentAdd(type="text", placeholder="write a message_", name="comment")

			section.content

			footer
				//a(href="#") SEE MORE DISCUSSIONS



// templates
!=partial('templates')

