

section#OnsideApp
	div#main(role='main')
		section.page#listGroups
			header
				hgroup
				- if (!everyauth.loggedIn)
					h1 #{title}
					br

					a(href='/register') Register
					a(href='/login', style='border: 0px') Login with Password					
					
					a(href='/register') Register
					br
					
					a(href='/login', style='border: 0px') Login with Password
					br
					
					a.fb_button_medium(href='/auth/facebook')
						span#fb_login_text.fb_button_text
						Connect with Facebook
					br
					a(href='/auth/twitter')
						img(src='https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png')
					br
					
					a(href='/auth/google')
						img(style='border: 0px', src='https://www.google.com/favicon.ico')
						
				- else
					h1= everyauth.user.name
					a(href="/logout") logout
					p= JSON.stringify(everyauth.user)


				nav
					a.filter.button(href="#") filter
				
				div.filterBlock
					p filter options

				div.searchBlock
					form(action="/")
						input#groupSearch(type="search", placeholder="search")

			section.content

			footer
				nav
					a.settings.icon(href="#") settings
					a.toggle.toggleButton(href="#")
						span.channel channels
						span.event events

		section.page#listArticle
			header
				h1 Here are the highlights
				nav
					span.buttonGroup
						a.filter(href="#") filter page
					
					span.buttonGroup
						a.profile(href="#") profile
						a.login(href="#") Sign out

			section.content
		
		section.page#detailArticle
			header
				h1 Title of article
				nav
					span.buttonGroup
						a.share(href="#") share
						a.save(href="#") save

					a.button.close(href="#") close

			section.content
		
		section.page#listChat
			header
				h1
					span 0
					Chatter
				
				nav
					a.button.filter(href="#") filter
					a.button.add(href="#") Add

				div.addBlock
					form(action="/")
						input#commentAdd(type="text", placeholder="add your comment")

			section.content
			footer
				a(href="#") SEE MORE DISCUSSIONS


