// GENERAL TEMPLATES ///////////////////////////////////////////


// NAVIGATION TEMPLATES //

script#channelItemTemplate.tmpl(type="text/template")
	a(href="#")
		\<img src="<%= img %>" />
		h1 <%= name %>

script#eventItemTemplate.tmpl(type="text/template")
	a(href="#")
		img(src="/i/placeholder/listIcon2.png")
		h1 <%= name %>

script#savedSearchTemplate.tmpl(type="text/template")
	a(href="#")
		h1 <%= name %>



// DETAIL ITEM TEMPLATES //
script#detailTemplate.tmpl(type="text/template")
	header
		h1 
			img(src="/i/placeholder/listIcon2.png")
			<%= title %>
		nav
			span.buttonGroup
				//a.filter(href="#") filter page
				a.refresh(href="#") refresh
				a.save(href="#") save
		
		span
	
	div.contentWrapper

script#channelDetailItemTemplate.tmpl(type="text/template")
	h1 <%= name %>

script#eventDetailItemTemplate.tmpl(type="text/template")
	h1 <%= name %>
	p  <%= sport %> / <%= type %>


// COMMENT TEMPLATES //
script#commentTemplate.tmpl(type="text/template")
	p <%= comment %>

	\<% if(user) { %> <a href='/user/<%= user %>' > user id: <%= user %> </a> <% } %>
	\<% if(added) { %> <time> <%= added %> </time> <% } %>
	
	nav
		a.reply(href="#") reply





