<nav>
	<div class="inner">
		<!--a href="">Help</a>
		<a href="">Support</a>
		<a href="">Contact Us</a>
		<a href="">FAQ</a-->
		<% if(loggedIn) { %>
			<a href="/logout">Sign out</a>
		<% } else { %>
			<a href="/enter">Got an invite - sign in</a>
		<% } %>
	</div>
</nav>

<header>
	<div class="inner">
		<article id="signupOpts">
			<hgroup>
				<h1>Onside Beta</h1>
				<h2>500 error</h2>
			</hgroup>
			<article>
				<p>The page you were looking for does not seem to exist.. oops!</p>
			</article>
		</article>
		<article id="devices">
			<div class="d_iphone">available on mobile devices</div>
			<div class="d_ipad">available on tablet devices</div>
			<div class="d_desktop">available on desktop</div>
		</article>
		
	</div>	
</header>

<footer>
	<div class="inner">
		<small>&copy; Onside Media</small>
	</div>
</footer>

