<section id="OnsideCMS">
	<div class="topbar">
		<div class="topbar-inner">
			<div class="container-fluid">
				<a class="brand" href="#">Onside CMS</a>

				<ul class="nav">
					<li class="active"><a href="#">Dashboard</a></li>
					<li><a href="#users">Users</a></li>
					<li><a href="#channels">Channels</a></li>
					<li><a href="#events">Events</a></li>
					<li><a href="#sources">Sources</a></li>
					<li><a href="#articles">Articles</a></li>
				</ul>
				<p class="pull-right">Logged in as <a href="#">name</a></p>

			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="sidebar"></div>
		<div class="content">
			<section id="users">
				<div class="page-header">
					<h1>Users <small>create &amp; edit</small></h1>
				</div>
				<table class="zebra-striped">
					<thead></thead>
					<tbody></tbody>
				</table>
			</section>

			<footer>
				<p>&copy; Company 2011</p>

			</footer>
		</div>
	</div>

	<div class="modal hide fade in" id="overlay">
		<div class="modal-header">
			<a class="close" href="#">×</a>
			<h3>Modal Heading</h3>
		</div>
		<div class="modal-body">
			<p>One fine body…</p>
		</div>
		<div class="modal-footer">
			<a class="btn primary" href="#">Primary</a>
			<a class="btn secondary" href="#">Secondary</a>
		</div>
	</div>

	
</section><!-- /#OnsideCMS -->

<script id="overlayTemplate" class="tmpl" type="text/template">
	<div class="modal-header">
		<a class="close" href="#">×</a>
		<h3>Modal Heading</h3>
	</div>
	<div class="modal-body">
	</div>
	<div class="modal-footer">
		<a class="btn primary" href="#">Save</a>
		<a class="btn secondary" href="#">Cancel</a>
		<a class="btn secondary danger" href="#">Delete</a>
	</div>
</script>

