<section id="OnsideCMS">
	<div class="topbar">
		<div class="topbar-inner">
			<div class="container-fluid">
				<a class="brand" href="#">Onside CMS</a>

				<ul class="nav" id="primaryNav">
					<li><a href="#dashboard">Dashboard</a></li>
					<li><a href="#users">Users</a></li>
					<li><a href="#channels">Channels</a></li>
					<li><a href="#events">Events</a></li>
					<li><a href="#sources">Sources</a></li>
					<li><a href="#articles">Articles</a></li>
				</ul>
				<p class="pull-right">Logged in as <a href="#">name</a></p>

			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="sidebar"></div>
		<div class="content">
			<section id="dashboard" class="page">
				<div class="page-header">
					<h1>Dashboard <small></small></h1>
				</div>
				<div class="row"><div class="span">
					<h4>Possible features</h4>
					<ul>
						<li>Channel: Upload / resize images</li>
						<li>Channel: Colour picker for brand</li>
						<li>Source: test load (and save an article to test mapping)</li>
						<li>Article: as there are lots add filters on which to load (per channel / event / source) + number limit</li>
					</ul>
				</div></div>
			</section>

			<section id="users" class="page">
				<div class="page-header">
					<h1>Users <small>create &amp; edit</small></h1>
				</div>
				<table class="zebra-striped">
					<thead></thead>
					<tbody></tbody>
				</table>
			</section>

			<section id="channels" class="page">
				<div class="page-header">
					<h1>Channels <small>create &amp; edit</small><button class="btn success create">Create new</button></h1>
				</div>
				<table class="zebra-striped">
					<thead></thead>
					<tbody></tbody>
				</table>
			</section>

			<section id="events" class="page">
				<div class="page-header">
					<h1>Events <small>create &amp; edit</small><button class="btn success create">Create new</button></h1>
				</div>
				<table class="zebra-striped">
					<thead></thead>
					<tbody></tbody>
				</table>
			</section>

			<section id="sources" class="page">
				<div class="page-header">
					<h1>Sources <small>create &amp; edit</small><button class="btn success create">Create new</button></h1>
				</div>
				<table class="zebra-striped">
					<thead></thead>
					<tbody></tbody>
				</table>
			</section>

			<section id="articles" class="page">
				<div class="page-header">
					<h1>Articles <small>create &amp; edit</small><button class="btn success create">Create new</button></h1>
				</div>
				<div class="filter">
					<form class="well">
						<div class="clearfix inline">
            				<label for="normalSelect">Select channel</label>
							<div class="input">
								<select id="normalSelect" name="normalSelect">
									<option>1</option>
								</select>
							</div>
							<input type="submit" value="Get articles" class="btn primary">
						</div>
					</form>
					<span class="filterToggle">show filters</span>
				</div>
				<table class="zebra-striped">
					<thead></thead>
					<tbody></tbody>
				</table>
			</section>

			<footer>
				<p>&copy; Company 2011</p>

			</footer>
		</div>
	</div>

	<div class="modal hide fade in" id="overlay">
		<div class="modal-header">
			<a class="close" href="#">×</a>
			<h3>Modal Heading</h3>
		</div>
		<div class="modal-body">
			<p>One fine body…</p>
		</div>
		<div class="modal-footer">
			<a class="btn primary" href="#">Primary</a>
			<a class="btn secondary" href="#">Secondary</a>
		</div>
	</div>

	
</section><!-- /#OnsideCMS -->

<script id="overlayTemplate" class="tmpl" type="text/template">
	<div class="modal-header">
		<a class="close" href="#">×</a>
		<h3>Modal Heading</h3>
	</div>
	<div class="modal-body">
	</div>
	<div class="modal-footer">
		<a class="btn primary save" href="#"  data-loading-text="Saving data...">Save</a>
		<a class="btn secondary cancel" href="#">Cancel</a>
		<a class="btn secondary danger delete" href="#" data-loading-text="Deleting data...">Delete</a>
	</div>
</script>

