<nav>
	<div class="inner">
		<!--a href="">Help</a>
		<a href="">Support</a>
		<a href="">Contact Us</a>
		<a href="">FAQ</a-->
		<a href="/login">Login</a>
	</div>
</nav>

<header>
	<div class="inner">
		<article id="signupOpts">
			<hgroup>
				<h1>Onside Beta</h1>
				<h2>Delivering Fans Personalised Sport Content</h2>
				<p>Available to all early 2012</p>
			</hgroup>
			
			<article>
				<h1>Sign up now</h1>
				<p>Join our invite list  to be the first to experience the future of sports news.</p>
				
				<div class="notForIE6">
					<!--form action="/register" method="post">
						<input type="email" class="txt" name="email" value="" placeholder="enter your email" />
						<input type="submit" class="submit" value="sign up" />
					</form>
					<p>or</p-->
					<a class="joinF" href="/auth/facebook">Sign up with facebook</a>
					<a class="joinT" href="/auth/twitter">Signup with twitter</a>
				</div>
				<div class="forIE6">
					<p>You appear to be using IE6. This now 11 years old and is not supporoted by Onside, please signup using a more recent browser such as <a href="https://www.google.com/chrome">Chrome</a> or <a href="http://www.mozilla.org/en-US/firefox/new/">firefox</a>.</p>
				</div>
			</article>
		</article>
		<article id="devices">
			<div class="d_iphone">available on mobile devices</div>
			<div class="d_ipad">available on tablet devices</div>
			<div class="d_desktop">available on desktop</div>
		</article>
		
	</div>	
</header>

<section id="reasons">
	<div class="inner">
		<article class="r_personal">
			<h1>Personalised</h1>
			<p>Onside learns what you want to see about your favourite sports from around the web. We’ll suggest new and exciting content for you. Getting you closer to the sports, teams and events you love.</p>
		</article>
		<article class="r_news">
			<h1>New &amp; Exclusive Content</h1>
			<p>Onside makes it easy for your favourite sports, clubs and players to send you exclusive content and engage directly with you. Get deals on tickets and merchandise.</p>
		</article>
		<article class="r_live">
			<h1>Live Events</h1>
			<p>Track live scores and fixtures from multiple sports. Discover events taking place near you.</p>
		</article>
		<article class="r_discuss">
			<h1>Discussions</h1>
			<p>Enjoy that goal? See that hole-in-one! Have an opinion?! - Share and discuss with fans and friends, whether you’re at work, at the game or in the pub.</p>
		</article>
		<article class="r_allSport">
			<h1>All your Sports, All in One Place</h1>
			<p>No longer do you need to visit 10 different websites. Onside is launching on your Desktop, Mobile and Tablet.</p>
		</article>
		<article class="r_free">
			<h1>It's free</h1>
			<p>Onside learns what you want to see about your favourite sports from around the web. </p>
		</article>
	</div>
</section>

<section id="support">	
	<div class="inner">
		<article id="challenge">			
			<img src="/i/content/signup/challenge.gif" />
			
			<h1>The Old Way</h1>
			<p>You trawl the web looking for new blogs, and info on all the sports you like, you visit all your social networks, you scour through twitter.</p>
			
			<h1>The New Way</h1>
			<p>Onside - we do the hard work so you don’t have to. You follow channels for each of your favourite sports, and as well as the best of the web you get exclusive content from them to you. We give you unique and intuitive ways of filtering content so if you want more of what you love or to find something new its easy and fun.</p>
			<ol>
				<li>All your sports, all their news in one place</li>
				<li>A single webapp for all your devices, no downloading apps</li>
				<li>It’s free</li>
				<li>Already have too many log on’s, we know, use your existing social networks, twitter, facebook, google to log in, share and conect with others... no need to do it all again.</li>
			</ol>
		</article><!-- /#challenge -->
	
		<article id="share">
			<h1>Follow us <a href="http://twitter.com/KeepitOnside">@keep<span>it</span>onside</a></h1>
			<ul id="tweets">
				<li>loading latest tweets...</li>
			</ul>
			
			<h2>Tell people about us</h2>
			<a class="share SG" href="">google +1</a>
			<a class="share ST" href="">tweet</a>
			<a class="share SF" href="">facebook like</a>
		</article><!-- /#share -->
	</div>
</section><!-- /#support -->

<footer>
	<div class="inner">
		<small>&copy; Onside Media</small>
	</div>
</footer>

